/*! custom-utility.css v2.0.0 */

/* alignment */
.center {
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    text-align: center;
}

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.clear {
    clear: both;
}

/* typography */
.bolded {
    font-weight: bold;
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-muted {
    color: var(--color-text-secondary);
}

/* borders & shapes */
.rounded {
    border-radius: var(--border-radius-md);
}

.circular {
    border-radius: var(--border-radius-full);
}

/* shadows */
.shaded {
    box-shadow: var(--shadow-md);
}

.shaded-light {
    box-shadow: var(--shadow-sm);
}

/* spacing */
.gutter-right {
    margin-right: 1rem;
}

.gutter-half-right {
    margin-right: 0.5rem;
}

.gutter-bottom {
    margin-bottom: 1rem;
}

.gutter-half-bottom {
    margin-bottom: 0.5rem;
}

.gutter-left {
    margin-left: 1rem;
}

.gutter-half-left {
    margin-left: 0.5rem;
}

/* layout */
.no-shrink {
    flex-shrink: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.relative {
    position: relative;
}

/*
The following:
* Creates issues when the parent already has assigned margins.
* Doesn't allow for a border when using border box.

Both of these can be fixed by using a wrapper between the
parent and child and making the wrapper the parent.
*/

.gutter-parent {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.gutter-child {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
