/* fonts */

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('/static/common/fonts/Open-Sans-300/Open-Sans-300.eot');
    src: url('/static/common/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
        local('Open Sans Light'),
        local('Open-Sans-300'),
        url('/static/common/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
        url('/static/common/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
        url('/static/common/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
        url('/static/common/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/static/common/fonts/Open-Sans-regular/Open-Sans-regular.eot');
    src: url('/static/common/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
        local('Open Sans'),
        local('Open-Sans-regular'),
        url('/static/common/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
        url('/static/common/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
        url('/static/common/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
        url('/static/common/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('/static/common/fonts/Open-Sans-600/Open-Sans-600.eot');
    src: url('/static/common/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
        local('Open Sans Semibold'),
        local('Open-Sans-600'),
        url('/static/common/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
        url('/static/common/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
        url('/static/common/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
        url('/static/common/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

/* fonts end */

/* tags */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

form, table {
    margin-bottom: 0;
}

table {
    background-color: #fff;
    border-collapse: separate;
    border: 1px solid #bbb;
    padding: 1rem;
}

table.clickable tr:hover {
    cursor: pointer;
}

th, th:first-child, th:last-child, td, td:first-child, td:last-child {
    text-align: center;
    padding: 1rem;
}

th, th:first-child, th:last-child {
    background-color: red;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

td input, td select, td button {
    vertical-align: middle;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

input.show {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
}

select:disabled {
    appearance: none;
}

a {
    color: inherit;
}

/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: inherit;
}

a.img-btn {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

hr {
    margin: 0 0 1rem 0;
}

i {
    font-size: 2rem;
    color: #bbb;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

i.medium {
    font-size: 6rem;
}

i.large {
    font-size: 10rem;
}

/* tags end */

/* general */

#app {
    position: relative;
}

.config .panel {
    border: 1px solid #bbb;
    padding: 1rem;
    margin-bottom: 1rem;
}

.artifacts form {
    display: inline;
}

.artifacts td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.error {
    min-width: 0;
    overflow-wrap: break-word;
}

.traceback {
    background-color: #000;
    color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid #bbb;
}

.traceback pre {
    margin: 0;
    white-space: pre-wrap;
}

/* end */

/* responsive table */

.responsive-table {
}

.responsive-table .responsive-table-headers {
    display: none;
    margin-bottom: 1rem;
}

.responsive-table .responsive-table-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

.responsive-table .responsive-table-body {
}

.responsive-table .responsive-table-row {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.responsive-table .responsive-table-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.responsive-table .responsive-table-cell * {
    margin: 0;
}

.responsive-table .mobile-header {
    display: inline-block;
    min-width: 10rem;
    font-weight: 600;
}

@media all and (min-width: 960px) {

    .responsive-table .responsive-table-headers {
        display: flex;
    }

    .responsive-table .responsive-table-row {
        flex-direction: row;
    }

    .responsive-table .mobile-header {
        display: none;
    }

}

/* responsive table end */

/* utility */

.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-20 {
    flex-basis: 20%;
}

.flex-basis-10 {
    flex-basis: 10%;
}

.center-content {
    text-align: center !important;
}

.left-content {
    text-align: left !important;
}

.right-content {
    text-align: right !important;
}

.bordered-light {
    border: 1px solid #bbb;
}

.bordered-dark {
    border: 1px solid #222;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

/* utility end */
