@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Open-Sans-300/Open-Sans-300.eot');
    src: url('/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
        local('Open Sans Light'),
        local('Open-Sans-300'),
        url('/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
        url('/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
        url('/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
        url('/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot');
    src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
        local('Open Sans'),
        local('Open-Sans-regular'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Open-Sans-600/Open-Sans-600.eot');
    src: url('/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
        local('Open Sans Semibold'),
        local('Open-Sans-600'),
        url('/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
        url('/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
        url('/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
        url('/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* tags */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

header {
    background-color: #222;/*#fafafa;*/
    color: #fff;
}

section {
    padding: 3rem 0;
}

footer {
    background-color: #1d1d1d;
    color: #fff;
}

form, table {
    margin-bottom: 0;
}

table {
    background-color: #fff;
    border-collapse: separate;
    border: 1px solid #bbb;
    padding: 1rem;
}

th, th:first-child, th:last-child, td, td:first-child, td:last-child {
    text-align: center;
    padding: 1rem;
}

th, th:first-child, th:last-child {
    background-color: red;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

td input, td select, td button {
    vertical-align: middle;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 0 1rem;
    background-color: #fff;
}

select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    color: inherit;
}

/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: inherit;
}

a.img-btn {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

/* image button customizations */
a.save-as {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

a.delete {
    position: absolute;
    top: 0.5rem;
    right: 0;
}

hr {
    margin: 0 0 1rem 0;
}

i {
    font-size: 2rem;
    opacity: 0.2;
}

/* end */

/* navigation */

nav {
    height: 5rem; /* critical to nav height 1/3 */
    position: relative;
}

nav .brand {
    font-size: 3rem;
    padding-left: 1rem;
}

nav .brand a {
    color: inherit;
    text-decoration: inherit;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav > ul {
    float: right;
}

nav ul li {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li:hover {
    background: red;
}

nav ul li a {
    display: block;
    height: 100%;
    line-height: 5rem; /* critical to nav height 2/3 */
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1rem;
}

nav ul li.user > a {
    color: red;
}

nav ul li:hover > a {
    color:#fff;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 5rem; /* critical to nav height 3/3 */
    right: 0;
    width: 100%;
    text-align: right;
    background: #222; /*#fff;*/
    border: 1px solid #bbb;
    opacity: 0.8;
    z-index: 99;
}

nav ul li:hover ul {
    display: block;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs > input[type=radio] {
    display: none;
}

.tabs > label {
    background-color: #eee;
    border: 1px solid #e1e1e1;
    padding: 0.5rem 1rem;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}

.tabs > input[type=radio]:checked + label {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content > div {
    margin-top: -1px; /* overlaps the border of the lab */
    background-color: #fff;
    border: 1px solid #e1e1e1;
}

.tab-content > div:not(.active) {
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 1px;
    width: 1px;
}

/* end */

/* classes */

.container-fluid {
    max-width: 100rem;
    min-width: 0;
}

.flash {
    position: absolute;
    display: inline-block;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    visibility: hidden;
    background-color: red;
    color: #fff;
    border: 1px solid #bbb;
    opacity: 0.8;
}

.banner i {
    font-size: 10rem;
    color: #bbb;
    opacity: 1;
}

.banner .panel {
    min-width: 20rem;
    margin-bottom: 5rem;
}

.about,
.info {
    text-align: justify;
}

.scoreboard .score-panel {
    margin-bottom: 1rem;
}

.scoreboard .score-panel h5 {
    margin-bottom: 0;
}

.scoreboard .score-panel > .wrapper {
    padding: 0 0.5rem;
    background-color: #fff;
    border: 1px solid #bbb;
}

.scoreboard .score-panel > .wrapper > * {
    border-bottom: 1px solid #e1e1e1;
}

.scoreboard .score-panel .score > * {
    padding: 1rem 0.5rem;
}

.scoreboard .score-panel .score .avatar img {
    display: block;
    height: 4rem;
}

.scoreboard .score-panel .score .trophy {
    color: transparent;
}

.scoreboard .score-panel .score .trophy i {
    opacity: 1;
}

.scoreboard .score-panel .score .position-1 {
    color: gold;
}

.scoreboard .score-panel .score .position-2 {
    color: silver;
}

.scoreboard .score-panel .score .position-3 {
    color: #8c7853; /* bronze */
}

.submissions {
    border-top: 1px solid #e1e1e1;
}

.submissions .submission-preview {
    padding: 1rem;
    border-bottom: 1px solid #e1e1e1;
}

.submissions .submission-preview h5 {
    margin-bottom: 0;
}

.submissions .submission-preview .title a {
    text-decoration: inherit;
}

.submissions .submission-preview .info span {
    color: #999;
}

.submissions .submission-preview .avatar {
    margin-right: 2rem;
}

.submissions .submission-preview .avatar img {
    display: block;
    height: 4rem;
}

.submission-new textarea {
    min-height: 20rem;
}

.submission-view .title .severity {
    margin: 1rem;
    margin-left: 0;
}

.submission-view .title h4 {
    margin: 0;
}

.submission-view table,
.submission-view caption,
.submission-view tbody,
.submission-view tfoot,
.submission-view thead,
.submission-view tr,
.submission-view th,
.submission-view td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.submission-view table {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.submission-view td {
    padding: 0.5rem;
    vertical-align: middle;
}

.submission-view td:nth-child(odd) {
    text-align: right;
    color: #999;
}

.submission-view td:nth-child(even) {
    text-align: left;
}

.submission-view .submitter .avatar {
    margin-right: 1rem;
}

.submission-view .submitter .avatar img {
    display: block;
    height: 4rem;
}

.submission-view i {
    opacity: 1;
}

.submission-view .summary h5 {
    margin-bottom: 0;
}

.notes {
    position: relative;
}

.notes textarea {
    height: auto; /* skeleton override */
    padding: 1rem 1.5rem;
    border: 1px solid #bbb;
    margin: 1rem;
    resize: none;
}

.artifacts form {
    display: inline;
}

.artifacts td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tools {
    min-width: 0;
}

.tools .output {
    min-height: 0; /* Firefox */
    background-color: #000;
    color: #fff;
    position: relative;
    padding: 1rem 1.5rem;
    border: 1px solid #bbb;
}

.tools .output pre {
    height: 100%; /* keep scrollbar at bottom */
    margin: 0;
    overflow: scroll;
}

.tools .output a.img-btn i {
    color: #fff;
    opacity: 0.6;
}

.inbox td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mail textarea {
    width: 100%;
    height: 15rem;
}

.mail .sender .avatar {
    margin-right: 1rem;
}

.mail .sender .avatar img {
    display: block;
    height: 4rem;
}

.mail .content {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.messages {
    border-top: 1px solid #e1e1e1;
}

.messages .message {
    position: relative;
    border-bottom: 1px solid #e1e1e1;
}

.messages .message .avatar {
    margin: 1rem;
}

.messages .message .avatar img {
    display: block;
    height: 4rem;
}

.messages .message .name {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.messages .message .comment {
    margin-bottom: .5rem;
}

.messages .scroll a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.messages .scroll p {
    font-size: 1.25rem;
    border-left: 2px solid red;
    padding-left: .5rem;
    margin-bottom: .5rem;
}

.messages .timestamp {
    font-size: 1rem;
    margin-bottom: 0;
}

.pagination {
    margin-top: 1rem;
}

.pagination a {
    padding: 0.25rem 1rem;
    text-decoration: none;
}

.pagination a.active {
    background-color: #e1e1e1;
    color: inherit;
}

.pagination a:hover:not(.active) {
    background-color: #bbb;
    color: inherit;
}

.pagination a[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.profile input[type="submit"] {
    margin-bottom: 0;
}

.profile blockquote {
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    quotes: "\201C""\201D""\2018""\2019";
}

.profile blockquote:before {
  color: #bbb;
  font-family: Arial;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.profile .avatar img {
    display: block;
    max-width: 20rem;
    width: 100%;
}

.error {
    min-width: 0;
    overflow-wrap: break-word;
}

.traceback {
    background-color: #000;
    color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid #bbb;
}

.traceback pre {
    margin: 0;
    white-space: pre-wrap;
}

.footer {
    padding: 1rem 0;
    font-size: 1.25rem;
}

/* end */

/* utility styles */

.center-content {
    text-align: center !important;
}

.left-content {
    text-align: left !important;
}

.right-content {
    text-align: right !important;
}

.bordered-light {
    border: 1px solid #bbb;
}

.bordered-dark {
    border: 1px solid #222;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.severity {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0.25em;
}

.severity.informational {
    background-color: #e0fde0;
}

.severity.low {
    background-color: #bbdefb;
}

.severity.medium {
    background-color: #ffe0b2;
}

.severity.high {
    background-color: #ffcdd2;
}

.severity.critical {
    background-color: #E1BEE7;
}

.markdown {
    padding: 2rem 3rem;
    border: 1px solid #e1e1e1;
}

.markdown li {
    margin-bottom: 0;
}

/* end */

/* spinner */

.spinner {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width:60px;
    height:60px;
    margin-top: -30px;
    margin-left: -35px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(255, 0, 0, 0.25);
    border-right: 6px solid rgba(255, 0, 0, 0.25);
    border-bottom: 6px solid rgba(255, 0, 0, 0.25);
    border-top: 6px solid rgba(255, 0, 0, 0.75);
    border-radius: 100%;
    z-index: 98;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/* end */

/* FOUC fix */

html {
    visibility: visible;
    opacity: 1;
}

/* end */
