.background {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-auth {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.background-unauth {
    background-image: url(/static/common/images/background-dark.jpg);
}
