.messages .message-container .message .link-preview a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.messages .message-container .message .link-preview p {
    font-size: var(--font-size-sm);
    border-left: 2px solid var(--color-primary);
    padding-left: var(--space-xs);
    margin-bottom: var(--space-xs);
}
