.modal-mask {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
    overflow-x: auto;
}

.modal-mask .modal-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 3rem 2rem 2rem;
    background-color: #fff;
    transition: all .3s ease;
}

.modal-mask .modal-container a.img-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.modal-enter,
.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* desktop modal */
@media all and (min-width: 960px) {

    .modal-mask .modal-container {
        width: 80%;
        height: 80%;
        border-radius: .5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }

}
