.toasts {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.toast {
    width: 100%;
    text-align: center;
    padding: var(--space-sm) 0;
    font-size: var(--font-size-base);
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
}

.toast:last-child {
    box-shadow: var(--shadow-md);
}

.toasts-move,
.toasts-enter-active,
.toasts-leave-active {
    transition: all 1s ease;
    /*transition-delay: .75s;*/
}

.toasts-enter-from,
.toasts-leave-to {
    transform: translateY(-100%);
}

.toasts-leave-active {
    position: absolute;
}
