{
  "openapi": "3.0.0",
  "info": {
    "title": "PwnedAPI",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://api.pwnedhub.com",
      "variables": {}
    }
  ],
  "paths": {
    "/access-token": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Token Create (Login)",
        "operationId": "TokenCreate(Login)",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenCreateLoginRequest"
              },
              "example": {
                "username": "",
                "password": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:14:38 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "571"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "access_token=; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED"
                },
                "example": {
                  "user": {
                    "id": 5,
                    "created": "2022-06-30 15:11:36",
                    "name": "Tim",
                    "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                    "signature": "This is my signature.",
                    "username": "tim",
                    "email": "tjt1980@gmail.com",
                    "role": "user",
                    "status": "enabled",
                    "question": 0,
                    "answer": "qawQoLzw5IntOw"
                  },
                  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NTY2ODg0NzgsImlhdCI6MTY1NjYwMjA3OCwic3ViIjo1LCJ1cGxvYWRfZm9sZGVyIjoiL3RtcC9hcnRpZmFjdHMvZTRkYTNiN2ZiYmNlMjM0NWQ3NzcyYjA2NzRhMzE4ZDUifQ.Qv_a125dfXywsOwLEoqmq1h_CqjLK95XfhDGPZR3PsU"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Misc"
        ],
        "summary": "Token Delete (Logout)",
        "operationId": "TokenDelete(Logout)",
        "parameters": [],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 04:33:03 GMT"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "access_token=; Expires=Thu, 01-Jan-1970 00:00:00 GMT; Max-Age=0; Path=/"
                  }
                }
              }
            },
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Users Read",
        "operationId": "UsersRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 05:18:42 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "947"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK"
                },
                "example": {
                  "users": [
                    {
                      "id": 1,
                      "created": "2019-02-16 01:51:59",
                      "name": "Administrator",
                      "avatar": "/images/avatars/admin.png",
                      "signature": "All your base are belong to me."
                    },
                    {
                      "id": 2,
                      "created": "2019-02-16 04:46:27",
                      "name": "Cooper",
                      "avatar": "/images/avatars/c-man.png",
                      "signature": "Gamer, hacker, and basketball player. Energy sword FTW!"
                    },
                    {
                      "id": 3,
                      "created": "2019-02-16 04:47:14",
                      "name": "Taylor",
                      "avatar": "/images/avatars/wolf.jpg",
                      "signature": "Wolf in a past life. Nerd in the current. Johnny 5 is indeed alive."
                    },
                    {
                      "id": 4,
                      "created": "2019-02-16 04:48:19",
                      "name": "Tanner",
                      "avatar": "/images/avatars/kitty.jpg",
                      "signature": "I might be small, cute, and cuddly, but remember... dynamite comes in small tightly wrapped packages that go boom."
                    },
                    {
                      "id": 5,
                      "created": "2022-06-30 05:17:00",
                      "name": "Tim",
                      "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                      "signature": "This is my signature."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "User Create (Register)",
        "operationId": "UserCreate(Register)",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateRegisterRequest"
              },
              "example": {
                "username": "tim",
                "email": "tjt1980@gmail.com",
                "name": "Tim",
                "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                "signature": "This is my signature.",
                "password": "password"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 04:57:11 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "18"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED1"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/users/5": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "User Read",
        "operationId": "UserRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 05:20:25 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "314"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK1"
                },
                "example": {
                  "id": 5,
                  "created": "2022-06-30 05:17:00",
                  "name": "Tim",
                  "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                  "signature": "This is my signature.",
                  "username": "tim",
                  "email": "tjt1980@gmail.com",
                  "role": "user",
                  "status": "enabled",
                  "question": 0,
                  "answer": "Y-9StUnD1USc0A"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Misc"
        ],
        "summary": "User Update",
        "operationId": "UserUpdate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              },
              "example": {
                "username": "tim",
                "email": "tjt1980@gmail.com",
                "name": "Tim",
                "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                "signature": "This is my signature."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 05:42:11 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "314"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK1"
                },
                "example": {
                  "id": 5,
                  "created": "2022-06-30 05:17:00",
                  "name": "Tim",
                  "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                  "signature": "This is my signature.",
                  "username": "tim",
                  "email": "tjt1980@gmail.com",
                  "role": "user",
                  "status": "enabled",
                  "question": 0,
                  "answer": "Y-9StUnD1USc0A"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/admin/users": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Users Read (Admin)",
        "operationId": "UsersRead(Admin)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 05:26:42 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1411"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK3"
                },
                "example": {
                  "users": [
                    {
                      "id": 1,
                      "created": "2019-02-16 01:51:59",
                      "name": "Administrator",
                      "avatar": "/images/avatars/admin.png",
                      "signature": "All your base are belong to me.",
                      "username": "admin",
                      "email": "admin@pwnedhub.com",
                      "role": "admin",
                      "status": "enabled"
                    },
                    {
                      "id": 2,
                      "created": "2019-02-16 04:46:27",
                      "name": "Cooper",
                      "avatar": "/images/avatars/c-man.png",
                      "signature": "Gamer, hacker, and basketball player. Energy sword FTW!",
                      "username": "Cooperman",
                      "email": "cooper@pwnedhub.com",
                      "role": "user",
                      "status": "enabled"
                    },
                    {
                      "id": 3,
                      "created": "2019-02-16 04:47:14",
                      "name": "Taylor",
                      "avatar": "/images/avatars/wolf.jpg",
                      "signature": "Wolf in a past life. Nerd in the current. Johnny 5 is indeed alive.",
                      "username": "Babygirl#1",
                      "email": "taylor@pwnedhub.com",
                      "role": "user",
                      "status": "enabled"
                    },
                    {
                      "id": 4,
                      "created": "2019-02-16 04:48:19",
                      "name": "Tanner",
                      "avatar": "/images/avatars/kitty.jpg",
                      "signature": "I might be small, cute, and cuddly, but remember... dynamite comes in small tightly wrapped packages that go boom.",
                      "username": "Hack3rPrincess",
                      "email": "tanner@pwnedhub.com",
                      "role": "user",
                      "status": "enabled"
                    },
                    {
                      "id": 5,
                      "created": "2022-06-30 05:17:00",
                      "name": "Tim",
                      "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                      "signature": "This is my signature.",
                      "username": "tim",
                      "email": "tjt1980@gmail.com",
                      "role": "user",
                      "status": "enabled"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/admin/users/5": {
      "patch": {
        "tags": [
          "Misc"
        ],
        "summary": "User Update (Admin)",
        "operationId": "UserUpdate(Admin)",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateAdminRequest"
              },
              "example": {
                "role": 0,
                "status": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 05:45:40 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "272"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK4"
                },
                "example": {
                  "id": 5,
                  "created": "2022-06-30 05:17:00",
                  "name": "Tim",
                  "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
                  "signature": "This is my signature.",
                  "username": "tim",
                  "email": "tjt1980@gmail.com",
                  "role": "admin",
                  "status": "enabled"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/password-reset": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Password Reset Create",
        "operationId": "PasswordResetCreate",
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "http://test.pwnedhub.com"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetCreateRequest"
              },
              "example": {
                "credential": "tim"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 14:35:42 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "18"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED1"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/5/password": {
      "put": {
        "tags": [
          "Misc"
        ],
        "summary": "Password Update (Profile)",
        "operationId": "PasswordUpdate(Profile)",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordUpdateProfileRequest"
              },
              "example": {
                "new_password": "newpassword",
                "current_password": "password"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 14:48:23 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "18"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK5"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/notes": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Note Read",
        "operationId": "NoteRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 14:59:37 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "588"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK7"
                },
                "example": {
                  "content": "##### Welcome to PwnedHub 2.0!\n\nA collaborative space to conduct hosted security assessments.\n\n**Find flaws.**\n\n* This is your notes space. Keep your personal notes here.\n* Leverage popular security testing tools right from your browser in the tools space.\n\n**Collaborate.**\n\n* Privately collborate with coworkers in the messaging space.\n* Join public rooms in the messaging space to share information and socialize.\n\n**On the Move**\n\n* PwnedHub 2.0 is built with mobility in mind. No need for a separate app!\n\nHappy hunting!\n\n\\- The PwnedHub Team\n\n"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Misc"
        ],
        "summary": "Note Update",
        "operationId": "NoteUpdate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteUpdateRequest"
              },
              "example": {
                "content": "##### Welcome to PwnedHub 2.0!\n\nA collaborative space to conduct hosted security assessments.\n\n**Find flaws.**\n\n* This is your notes space. Keep your personal notes here.\n* Leverage popular security testing tools right from your browser in the tools space.\n\n**Collaborate.**\n\n* Privately collborate with coworkers in the messaging space.\n* Join public rooms in the messaging space to share information and socialize.\n\n**On the Move**\n\n* PwnedHub 2.0 is built with mobility in mind. No need for a separate app!\n\nHappy hunting!\n\n\\- The PwnedHub Team\n\n"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:02:20 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "18"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK5"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/rooms": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Rooms Read",
        "operationId": "RoomsRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:06:05 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "117"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK9"
                },
                "example": {
                  "rooms": [
                    {
                      "id": 1,
                      "created": "2019-02-16 01:51:59",
                      "name": "general",
                      "display": "#general",
                      "private": false
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Room Create",
        "operationId": "RoomCreate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomCreateRequest"
              },
              "example": {
                "name": "1:5",
                "private": true,
                "members": [
                  1,
                  5
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:11:50 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "105"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED3"
                },
                "example": {
                  "id": 2,
                  "created": "2022-06-30 15:11:51",
                  "name": "1:5",
                  "display": "@Administrator",
                  "private": true
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/rooms/1/messages": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Room Messages Read",
        "operationId": "RoomMessagesRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:18:37 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2040"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/200OK10"
                },
                "example": {
                  "cursor": "1550465769.0",
                  "messages": [
                    {
                      "author": {
                        "avatar": "/images/avatars/c-man.png",
                        "id": 2,
                        "name": "Cooper",
                        "username": "Cooperman"
                      },
                      "comment": "First I'm hearing of it. I hope they don't find any bugs. This is my \"get rich quick\" scheme.",
                      "created": "2019-02-18 04:56:09",
                      "id": 3,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/wolf.jpg",
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1"
                      },
                      "comment": "Heh. Me too. So looking forward to afternoons on my yacht. :-)",
                      "created": "2019-02-18 04:57:02",
                      "id": 4,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/kitty.jpg",
                        "id": 4,
                        "name": "Tanner",
                        "username": "Hack3rPrincess"
                      },
                      "comment": "Wait... didn't we go live this week?",
                      "created": "2019-02-18 04:57:08",
                      "id": 5,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/c-man.png",
                        "id": 2,
                        "name": "Cooper",
                        "username": "Cooperman"
                      },
                      "comment": "Well, as the most interesting man in the world says, \"I don't always get apps tested, but when I do, I get it done in prod.\"",
                      "created": "2019-02-18 04:57:20",
                      "id": 6,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/wolf.jpg",
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1"
                      },
                      "comment": "LOL! So, yeah, did any of you guys fix those things I found during peer review? I posted them in the slack channel. https://www.slack.com",
                      "created": "2019-02-18 04:57:32",
                      "id": 7,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/kitty.jpg",
                        "id": 4,
                        "name": "Tanner",
                        "username": "Hack3rPrincess"
                      },
                      "comment": "No.",
                      "created": "2019-02-18 04:57:37",
                      "id": 8,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/c-man.png",
                        "id": 2,
                        "name": "Cooper",
                        "username": "Cooperman"
                      },
                      "comment": "Nope.",
                      "created": "2019-02-18 04:57:41",
                      "id": 9,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "author": {
                        "avatar": "/images/avatars/wolf.jpg",
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1"
                      },
                      "comment": "Uh oh...",
                      "created": "2019-02-18 04:57:46",
                      "id": 10,
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    }
                  ],
                  "next": "http://api.pwnedhub.com/rooms/1/messages?cursor=1550465769.0"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/unfurl": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Unfurl Create",
        "operationId": "UnfurlCreate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnfurlCreateRequest"
              },
              "example": {
                "url": "https://www.slack.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:22:47 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "243"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED4"
                },
                "example": {
                  "url": "https://www.slack.com",
                  "site_name": "Slack",
                  "title": "Slack is where the future works",
                  "description": "Slack is a new way to communicate with your team. Itâs faster, better organized, and more secure than email."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/tools": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Tools Read",
        "operationId": "ToolsRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:24:37 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "700"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK11"
                },
                "example": {
                  "tools": [
                    {
                      "id": 1,
                      "name": "Dig",
                      "path": "dig",
                      "description": "(Domain Internet Groper) Network administration tool for Domain Name System (DNS) name server interrogation."
                    },
                    {
                      "id": 2,
                      "name": "Nmap",
                      "path": "nmap",
                      "description": "(Network Mapper) Utility for network discovery and security auditing."
                    },
                    {
                      "id": 3,
                      "name": "Nikto",
                      "path": "nikto",
                      "description": "Signature-based web server scanner."
                    },
                    {
                      "id": 4,
                      "name": "SSLyze",
                      "path": "sslyze",
                      "description": "Fast and powerful SSL/TLS server scanning library."
                    },
                    {
                      "id": 5,
                      "name": "SQLmap",
                      "path": "sqlmap --batch",
                      "description": "Penetration testing tool that automates the process of detecting and exploiting SQL injection flaws."
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Tool Create",
        "operationId": "ToolCreate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCreateRequest"
              },
              "example": {
                "name": "ID",
                "path": "id",
                "description": "Displays the user ID of the current shell user."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:32:44 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "104"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED5"
                },
                "example": {
                  "id": 6,
                  "name": "ID",
                  "path": "id",
                  "description": "Displays the user ID of the current shell user."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/tools/1": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Tool Read",
        "operationId": "ToolRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:35:37 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "167"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK12"
                },
                "example": {
                  "id": 1,
                  "name": "Dig",
                  "path": "dig",
                  "description": "(Domain Internet Groper) Network administration tool for Domain Name System (DNS) name server interrogation."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Misc"
        ],
        "summary": "Tool Delete",
        "operationId": "ToolDelete",
        "parameters": [],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:37:16 GMT"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/scans": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Scans Read",
        "operationId": "ScansRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:47:14 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "183"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK13"
                },
                "example": {
                  "scans": [
                    {
                      "id": "d37b3139-5f74-4f00-81ff-5a1db7528f8b",
                      "created": "2022-06-30 15:46:56",
                      "modified": "2022-06-30 15:46:57",
                      "command": "dig www.practisec.com",
                      "complete": true
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Scan Create",
        "operationId": "ScanCreate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanCreateRequest"
              },
              "example": {
                "tid": 1,
                "args": "www.practisec.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:46:56 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "171"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED6"
                },
                "example": {
                  "id": "d37b3139-5f74-4f00-81ff-5a1db7528f8b",
                  "created": "2022-06-30 15:46:56",
                  "modified": "2022-06-30 15:46:56",
                  "command": "dig www.practisec.com",
                  "complete": false
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/scans/d37b3139-5f74-4f00-81ff-5a1db7528f8b": {
      "delete": {
        "tags": [
          "Misc"
        ],
        "summary": "Scan Delete",
        "operationId": "ScanDelete",
        "parameters": [],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:54:01 GMT"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/scans/d37b3139-5f74-4f00-81ff-5a1db7528f8b/results": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Scan Results Read",
        "operationId": "ScanResultsRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:52:15 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "41"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK14"
                },
                "example": {
                  "results": "/bin/sh: dig: not found\n"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/messages": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Messages Read",
        "operationId": "MessagesRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 15:58:14 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2589"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK15"
                },
                "example": {
                  "messages": [
                    {
                      "id": 1,
                      "created": "2019-02-18 04:55:11",
                      "comment": "Hey, did you guys hear that we're having a security assessment this week?",
                      "author": {
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1",
                        "avatar": "/images/avatars/wolf.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 2,
                      "created": "2019-02-18 04:55:19",
                      "comment": "No.",
                      "author": {
                        "id": 4,
                        "name": "Tanner",
                        "username": "Hack3rPrincess",
                        "avatar": "/images/avatars/kitty.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 3,
                      "created": "2019-02-18 04:56:09",
                      "comment": "First I'm hearing of it. I hope they don't find any bugs. This is my \"get rich quick\" scheme.",
                      "author": {
                        "id": 2,
                        "name": "Cooper",
                        "username": "Cooperman",
                        "avatar": "/images/avatars/c-man.png"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 4,
                      "created": "2019-02-18 04:57:02",
                      "comment": "Heh. Me too. So looking forward to afternoons on my yacht. :-)",
                      "author": {
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1",
                        "avatar": "/images/avatars/wolf.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 5,
                      "created": "2019-02-18 04:57:08",
                      "comment": "Wait... didn't we go live this week?",
                      "author": {
                        "id": 4,
                        "name": "Tanner",
                        "username": "Hack3rPrincess",
                        "avatar": "/images/avatars/kitty.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 6,
                      "created": "2019-02-18 04:57:20",
                      "comment": "Well, as the most interesting man in the world says, \"I don't always get apps tested, but when I do, I get it done in prod.\"",
                      "author": {
                        "id": 2,
                        "name": "Cooper",
                        "username": "Cooperman",
                        "avatar": "/images/avatars/c-man.png"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 7,
                      "created": "2019-02-18 04:57:32",
                      "comment": "LOL! So, yeah, did any of you guys fix those things I found during peer review? I posted them in the slack channel. https://www.slack.com",
                      "author": {
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1",
                        "avatar": "/images/avatars/wolf.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 8,
                      "created": "2019-02-18 04:57:37",
                      "comment": "No.",
                      "author": {
                        "id": 4,
                        "name": "Tanner",
                        "username": "Hack3rPrincess",
                        "avatar": "/images/avatars/kitty.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 9,
                      "created": "2019-02-18 04:57:41",
                      "comment": "Nope.",
                      "author": {
                        "id": 2,
                        "name": "Cooper",
                        "username": "Cooperman",
                        "avatar": "/images/avatars/c-man.png"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    },
                    {
                      "id": 10,
                      "created": "2019-02-18 04:57:46",
                      "comment": "Uh oh...",
                      "author": {
                        "id": 3,
                        "name": "Taylor",
                        "username": "Babygirl#1",
                        "avatar": "/images/avatars/wolf.jpg"
                      },
                      "room": {
                        "id": 1,
                        "name": "general"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Message Create",
        "operationId": "MessageCreate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateRequest"
              },
              "example": {
                "comment": "Hello everyone!",
                "room_id": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 16:04:39 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "216"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201CREATED7"
                },
                "example": {
                  "id": 11,
                  "created": "2022-06-30 16:04:39",
                  "comment": "Hello everyone!",
                  "author": {
                    "id": 2,
                    "name": "Cooper",
                    "username": "Cooperman",
                    "avatar": "/images/avatars/c-man.png"
                  },
                  "room": {
                    "id": 1,
                    "name": "general"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/messages/11": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Message Read",
        "operationId": "MessageRead",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 16:05:53 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "216"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200OK16"
                },
                "example": {
                  "id": 11,
                  "created": "2022-06-30 16:04:39",
                  "comment": "Hello everyone!",
                  "author": {
                    "id": 2,
                    "name": "Cooper",
                    "username": "Cooperman",
                    "avatar": "/images/avatars/c-man.png"
                  },
                  "room": {
                    "id": 1,
                    "name": "general"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Misc"
        ],
        "summary": "Message Delete",
        "operationId": "MessageDelete",
        "parameters": [],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.21.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 30 Jun 2022 16:06:58 GMT"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "close"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "0"
                  }
                }
              }
            },
            "content": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "TokenCreateLoginRequest": {
        "title": "TokenCreateLoginRequest",
        "required": [
          "username",
          "password"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "example": {
          "username": "",
          "password": ""
        }
      },
      "201CREATED": {
        "title": "201CREATED",
        "required": [
          "user",
          "access_token"
        ],
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "access_token": {
            "type": "string"
          }
        },
        "example": {
          "user": {
            "id": 5,
            "created": "2022-06-30 15:11:36",
            "name": "Tim",
            "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
            "signature": "This is my signature.",
            "username": "tim",
            "email": "tjt1980@gmail.com",
            "role": "user",
            "status": "enabled",
            "question": 0,
            "answer": "qawQoLzw5IntOw"
          },
          "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NTY2ODg0NzgsImlhdCI6MTY1NjYwMjA3OCwic3ViIjo1LCJ1cGxvYWRfZm9sZGVyIjoiL3RtcC9hcnRpZmFjdHMvZTRkYTNiN2ZiYmNlMjM0NWQ3NzcyYjA2NzRhMzE4ZDUifQ.Qv_a125dfXywsOwLEoqmq1h_CqjLK95XfhDGPZR3PsU"
        }
      },
      "User": {
        "title": "User",
        "required": [
          "id",
          "created",
          "name",
          "avatar",
          "signature",
          "username",
          "email",
          "role",
          "status",
          "question",
          "answer"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "created": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "question": {
            "type": "integer",
            "format": "int32"
          },
          "answer": {
            "type": "string"
          }
        },
        "example": {
          "id": 5,
          "created": "2022-06-30 15:11:36",
          "name": "Tim",
          "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
          "signature": "This is my signature.",
          "username": "tim",
          "email": "tjt1980@gmail.com",
          "role": "user",
          "status": "enabled",
          "question": 0,
          "answer": "qawQoLzw5IntOw"
        }
      },
      "200OK": {
        "title": "200OK",
        "required": [
          "users"
        ],
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User1"
            },
            "description": ""
          }
        },
        "example": {
          "users": [
            {
              "id": 1,
              "created": "2019-02-16 01:51:59",
              "name": "Administrator",
              "avatar": "/images/avatars/admin.png",
              "signature": "All your base are belong to me."
            },
            {
              "id": 2,
              "created": "2019-02-16 04:46:27",
              "name": "Cooper",
              "avatar": "/images/avatars/c-man.png",
              "signature": "Gamer, hacker, and basketball player. Energy sword FTW!"
            },
            {
              "id": 3,
              "created": "2019-02-16 04:47:14",
              "name": "Taylor",
              "avatar": "/images/avatars/wolf.jpg",
              "signature": "Wolf in a past life. Nerd in the current. Johnny 5 is indeed alive."
            },
            {
              "id": 4,
              "created": "2019-02-16 04:48:19",
              "name": "Tanner",
              "avatar": "/images/avatars/kitty.jpg",
              "signature": "I might be small, cute, and cuddly, but remember... dynamite comes in small tightly wrapped packages that go boom."
            },
            {
              "id": 5,
              "created": "2022-06-30 05:17:00",
              "name": "Tim",
              "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
              "signature": "This is my signature."
            }
          ]
        }
      },
      "User1": {
        "title": "User1",
        "required": [
          "id",
          "created",
          "name",
          "avatar",
          "signature"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "created": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        },
        "example": {
          "id": 1,
          "created": "2019-02-16 01:51:59",
          "name": "Administrator",
          "avatar": "/images/avatars/admin.png",
          "signature": "All your base are belong to me."
        }
      },
      "UserCreateRegisterRequest": {
        "title": "UserCreateRegisterRequest",
        "required": [
          "username",
          "email",
          "name",
          "avatar",
          "signature",
          "password"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "example": {
          "username": "tim",
          "email": "tjt1980@gmail.com",
          "name": "Tim",
          "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
          "signature": "This is my signature.",
          "password": "password"
        }
      },
      "201CREATED1": {
        "title": "201CREATED1",
        "required": [
          "success"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "example": {
          "success": true
        }
      },
      "200OK1": {
        "title": "200OK1",
        "required": [
          "id",
          "created",
          "name",
          "avatar",
          "signature",
          "username",
          "email",
          "role",
          "status",
          "question",
          "answer"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "created": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "question": {
            "type": "integer",
            "format": "int32"
          },
          "answer": {
            "type": "string"
          }
        },
        "example": {
          "id": 5,
          "created": "2022-06-30 05:17:00",
          "name": "Tim",
          "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
          "signature": "This is my signature.",
          "username": "tim",
          "email": "tjt1980@gmail.com",
          "role": "user",
          "status": "enabled",
          "question": 0,
          "answer": "Y-9StUnD1USc0A"
        }
      },
      "UserUpdateRequest": {
        "title": "UserUpdateRequest",
        "required": [
          "username",
          "email",
          "name",
          "avatar",
          "signature"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        },
        "example": {
          "username": "tim",
          "email": "tjt1980@gmail.com",
          "name": "Tim",
          "avatar": "https://www.gravatar.com/avatar/0a6d9b1ad59ad436bf9d9d16b2a7133e.png?s=300",
          "signature": "This is my signature."
        }
      },
      "200OK3": {
        "title": "200OK3",
        "required": [
          "users"
        ],
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User2"
            },
            "description": ""
          }
        },
        "example": {
          "users": [
            {
              "id": 1,
              "created": "2019-02-16 01:51:59",
              "name": "Administrator",
              "avatar": "/images/avatars/admin.png",
              "signature": "All your base are belong to me.",
              "username": "admin",
              "email": "admin@pwnedhub.com",
              "role": "admin",
              "status": "enabled"
            },
            {
              "id": 2,
              "created": "2019-02-16 04:46:27",
              "name": "Cooper",
              "avatar": "/images/avatars/c-man.png",
              "signature": "Gamer, hacker, and basketball player. Energy sword FTW!",
              "username": "Cooperman",
              "email": "cooper@pwnedhub.com",
              "role": "user",
              "status": "enabled"
            },
            {
              "id": 3,
              "created": "2019-02-16 04:47:14",
              "name": "Taylor",
              "avatar": "/images/avatars/wolf.jpg",
              "signature": "Wolf in a past life. Nerd in the current. Johnny 5 is indeed alive.",
              "username": "Babygirl#1",
              "email": "taylor@pwnedhub.com",
              "role": "user",
              "status": "enabled"
            },
            {
              "id": 4,
              "created": "2019-02-16 04:48:19",
              "name": "Tanner",
              "avatar": "/images/avatars/kitty.jpg",
              "signature": "I might be small, cute, and cuddly, but remember... dynamite comes in small tightly wrapped packages that go boom.",
              "username": "Hack3rPrincess",
              "email": "tanner@pwnedhub.com",
              "role": "user",
              "status": "enabled"
            },
            {
              "id": 5,
              "created": "2022-06-30 05:17:00",
              "name": "Tim",
[...]
