@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
    font-family: 'Open Sans', sans-serif;
}

th, td {
    text-align: center;
}

td input, td select {
    vertical-align: middle;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 0 1rem;
}

form, table {
    margin-bottom: 0;
}

.flash {
    position: absolute;
    display: inline-block;
    z-index: 100;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
    font-size: 1.5rem;
    visibility: hidden;
    background-color: red;
    color: white;
    border: 1px solid black;
}

.container {
    max-width: 1000px;
}

.nav {
    display: table;
    color: red;
    width: 100%;
    padding: .5rem 0;
    text-align: right;
}

.nav div{
    display: table-cell;
    vertical-align: middle;
}

.nav .links {
    font-weight: bolder;
    padding-right: 2rem
}

.nav .brand {
    float: left;
    font-size: 3rem;
    margin-left: 1rem
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    color: inherit;
    text-decoration: inherit;
}

.floating-nav {
    max-width: 30px;
    padding: 1rem;
    left: 2rem;
    top: 2rem;
    z-index: 98;
    position: fixed;
    border: 1px solid red;
    background-color: #ffffff;
    opacity: 0.8;
    visibility: hidden;
    cursor: move;
}

.floating-nav hr {
    margin: 0 0 .5rem;
}

.floating-nav span {
    display: inline;
    position: relative;
}

.floating-nav span:hover:after{
    background: #333;
    opacity: 0.9;
    border-radius: .5rem;
    bottom: 3rem;
    left: 2rem;
    color: #fff;
    content: attr(title);
    padding: .5rem 1.5rem;
    position: absolute;
    z-index: 99;
}

.floating-nav img {
    opacity: 0.6;
    max-width: 100%;
    margin: .5rem 0 0;
}

.content {}

.banner {
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.panel {
    padding: 2rem 2rem;
    margin-bottom: 5rem;
}

.panel h5 {
    margin-bottom: 0;
}

.auth-form {
    border: 1px solid red;
    padding: 1rem;
    margin: 0;
}

.auth-form input[type=submit] {
    background-color: red;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0;
    border: 1px solid black;
}

.auth-form input[type=submit]:hover {
    background-color: #ff3333;
}

.auth-form select {
    border: 1px solid #a4a4a4;
}

.auth-form a {
    color: red;
    text-decoration: underline;
}

.auth-form p {
    margin-bottom: 1.5rem;
}

.about {
    text-align: justify;
    margin-top: 10rem;
}

.admin {}

.profile {}

.profile input[type="submit"] {
    margin-bottom: 0;
}

.notes {
    position: relative;
}

.notes textarea {
    width: 100%;
    min-height: 40rem;
    padding: 1rem 1.5rem;
    border: 1px solid #bbbbbb;
    margin-bottom: 0;
    visibility: hidden;
}

.messages {
    border-top: 1px solid #e1e1e1;
}

.messages div p:nth-of-type(1) {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.messages div p:nth-of-type(2) {
    margin-bottom: .5rem;
}

.messages div p:nth-of-type(3) {
    font-size: 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
}

.delete {
    float: right;
    font-size: 1.25rem;
    color: #e1e1e1;
    visibility: hidden;
}

.delete a {
    color: inherit;
    text-decoration: inherit;
}

.artifacts {}

.artifacts form {
    display: inline;
}

.output {
    position: relative;
    min-height: 40rem;
    padding: 1rem 1.5rem;
    border: 1px solid #bbbbbb;
}

.output pre {
    margin: 0;
}

.swf {}

input[type="button"].save-as {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ffffff;
}

.error {
    margin-top: 10rem;
}

.traceback {
    padding: 1rem 1.5rem;
    border: 1px solid #bbbbbb;
}

.traceback pre {
    margin: 0;
}

.footer {
    color: gray;
    padding-top: 2rem;
    margin-top: 4rem;
    border-top: 1px solid #e1e1e1;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    text-align: center;
}

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.rounded {
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.shaded {
    -webkit-box-shadow: .3rem .3rem .3rem #e1e1e1;
    -moz-box-shadow: .3rem .3rem .3rem #e1e1e1;
    box-shadow: .3rem .3rem .3rem #e1e1e1;
}

.black {
    color: black;
}

.red {
    color: red;
}
