@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Open-Sans-300/Open-Sans-300.eot');
    src: url('/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
        local('Open Sans Light'),
        local('Open-Sans-300'),
        url('/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
        url('/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
        url('/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
        url('/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot');
    src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
        local('Open Sans'),
        local('Open-Sans-regular'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
        url('/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Open-Sans-600/Open-Sans-600.eot');
    src: url('/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
        local('Open Sans Semibold'),
        local('Open-Sans-600'),
        url('/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
        url('/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
        url('/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
        url('/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

body {
    font-family: 'Open Sans', sans-serif;
}

th, td {
    text-align: center;
}

td input, td select {
    vertical-align: middle;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 0 1rem;
}

form, table {
    margin-bottom: 0;
}

select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: inherit;
}

.flash {
    position: absolute;
    display: inline-block;
    z-index: 100;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
    font-size: 1.5rem;
    visibility: hidden;
    background-color: red;
    color: white;
    border: 1px solid black;
}

.container {
    max-width: 1000px;
}

.nav {
    display: table;
    width: 100%;
    padding: .5rem 0;
    text-align: right;
}

.nav div {
    display: table-cell;
    vertical-align: middle;
}

.nav a {
    color: inherit;
    text-decoration: inherit;
}

.nav .brand {
    float: left;
    font-size: 3rem;
    margin-left: 1rem;
}

.nav .links {
    /*letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: bold;*/
}

.nav .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav .links li {
    margin: 0;
    padding: 0;
}

.nav .links > ul {
    position: relative;
    float: right;
}

.nav .links > ul > li {
    position: relative;
    float: left;
    z-index: 1;
}

.nav .links > ul > li.user {
    color: red;
}

.nav .links > ul > li > a {
    display: block;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

.nav .links > ul > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4.5rem;
    width: 8rem;
    padding: .5rem;
    background: #ffffff;
    border: 1px solid #bbb;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
}

.nav .links > ul > li > ul:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    margin-left: -10px;
    top: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index:9999;
}

.nav .links > ul > li > ul:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    margin-left: -10px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #bbb;
    z-index:9998;
}

.nav .links > ul > li > ul > li {
    float: none;
    text-align: center;
}

.nav .links ul > li > ul > li:hover {
    background: #f6f6f6;
}

.nav .links ul > li > ul > li > a {
    padding: 0 .5rem;
    color: red;
}

.nav .links ul > li:hover > ul {
    display: block;
}

.content {}

.banner {
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.panel {
    padding: 2rem 2rem;
    margin-bottom: 5rem;
}

.panel h5 {
    margin-bottom: 0;
}

.auth-form {
    border: 1px solid red;
    padding: 1rem;
    margin: 0;
}

.auth-form input[type=submit] {
    background-color: red;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0;
    border: 1px solid black;
}

.auth-form input[type=submit]:hover {
    background-color: #ff3333;
}

.auth-form select {
    border: 1px solid #a4a4a4;
}

.auth-form a {
    color: red;
    text-decoration: underline;
}

.auth-form p {
    margin-bottom: 1.5rem;
}

.about {
    text-align: justify;
    margin-top: 10rem;
}

.admin {}

.profile {}

.profile input[type="submit"] {
    margin-bottom: 0;
}

.notes {
    position: relative;
}

.notes textarea {
    width: 100%;
    min-height: 40rem;
    padding: 1rem 1.5rem;
    border: 1px solid #bbbbbb;
    margin-bottom: 0;
    visibility: hidden;
}

.inbox {}

.inbox td {
    padding-top: 0;
    padding-bottom: 0;
}

.mail {}

.mail textarea {
    width: 100%;
    height: 150px;
}

.messages {
    border-top: 1px solid #e1e1e1;
}

.messages div p:nth-of-type(1) {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.messages div p:nth-of-type(2) {
    margin-bottom: .5rem;
}

.messages div p:nth-of-type(3) {
    font-size: 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
}

.delete {
    float: right;
    font-size: 1.25rem;
    color: #e1e1e1;
    cursor: pointer;
    cursor: hand;
}

.delete a {
    color: inherit;
    text-decoration: inherit;
}

.delete img {
    opacity: 0.2;
    width: 2rem;
    margin: .5rem;
}

.artifacts {}

.artifacts form {
    display: inline;
}

.output {
    position: relative;
    min-height: 40rem;
    padding: 1rem 1.5rem;
    border: 1px solid #bbbbbb;
}

.output pre {
    margin: 0;
}

.swf {}

input[type="button"].save-as {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ffffff;
}

.error {
    margin-top: 10rem;
}

.traceback {
    padding: 1rem 1.5rem;
    border: 1px solid #bbbbbb;
}

.traceback pre {
    margin: 0;
}

.footer {
    color: gray;
    padding-top: 2rem;
    margin-top: 4rem;
    border-top: 1px solid #e1e1e1;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    text-align: center;
}

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.rounded {
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.shaded {
    -webkit-box-shadow: .3rem .3rem .3rem #e1e1e1;
    -moz-box-shadow: .3rem .3rem .3rem #e1e1e1;
    box-shadow: .3rem .3rem .3rem #e1e1e1;
}

.black {
    color: black;
}

.red {
    color: red;
}
