.account {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.account .avatar {
    width: 80%;
    padding-bottom: 80%;
    margin: 1.5rem auto;
    position: relative;
}

.account .avatar img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account .form {
    padding: 0.5rem 0;
}

/* desktop account */
@media all and (min-width: 960px) {

    .account {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .account > * {
        flex-basis: 40rem;
    }

    .account .form {
        margin: 0 auto;
        width: 30rem;
    }

}
