.login {
    display: flex;
    flex-direction: column;
    color: var(--color-text-inverse);
    padding: var(--space-sm);
}

.login .form {
    padding: var(--space-sm) var(--space-lg);
    background-color: rgba(0,0,0,0.6);
}

.login .form .oidc-button {
    cursor: pointer;
    max-width: 100%;
}

.login .panels > * {
    flex-basis: 20rem;
    margin: var(--space-lg) 0;
}

/* desktop login */
@media all and (min-width: 960px) {

    .login {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 960px;
    }

    .login > * {
        flex-basis: 40rem;
    }

    .login .form {
        margin: 0 auto;
        width: 30rem;
    }

    .login .panels {
        flex-basis: 100%;
        margin-top: var(--space-2xl);
    }

}
