.inbox table {
    width: 100%;
}

.inbox td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mail textarea {
    width: 100%;
    height: 15rem;
}

.mail .sender .avatar {
    margin-right: 1rem;
}

.mail .sender .avatar img {
    display: block;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
}

.mail .content {
    margin-top: 2rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
}
