.notes {
    height: 100%;
}

.notes textarea {
    height: auto; /* skeleton override */
    padding: var(--space-sm) var(--space-md);
    border: var(--border-width) solid var(--color-border-strong);
    margin: var(--space-sm);
    resize: none;
}

.markdown {
    padding: var(--space-lg) var(--space-xl);
    border: var(--border-width) solid var(--color-border);
}

.markdown li {
    margin-bottom: 0;
}

.markdown code {
    overflow: scroll;
}

/* tabs */

.tabs {
}

.tabs > input[type=radio] {
    display: none;
}

.tabs > label {
    background-color: var(--color-surface-alt);
    border: var(--border-width) solid var(--color-border);
    padding: var(--space-xs) var(--space-sm);
    margin: 0;
    cursor: pointer;
    z-index: 1;
}

.tabs > input[type=radio]:checked + label {
    background: var(--color-surface);
    border-bottom: var(--border-width) solid var(--color-surface);
}

.tab-content > div {
    margin-top: -1px; /* overlaps the border of the lab */
    background-color: var(--color-surface);
    border: var(--border-width) solid var(--color-border);
}

.tab-content > div:not(.active) {
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 1px;
    width: 1px;
}

/* tabs end */
