.profile {
    padding: 1rem;
}

.profile .avatar {
    width: 80%;
    padding-bottom: 80%;
    margin: 2rem auto;
    position: relative;
}

.profile .avatar img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile blockquote {
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    quotes: "\201C""\201D""\2018""\2019";
}

.profile blockquote:before {
  color: #bbb;
  font-family: Arial;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* desktop profile */
@media all and (min-width: 960px) {

    .profile {
        margin: 0 auto;
        width: 30rem;
    }

}
