.signup {
    display: flex;
    flex-direction: column;
    color: var(--color-text-inverse);
    padding: var(--space-sm);
}

.signup .form {
    padding: var(--space-sm) var(--space-lg);
    background-color: rgba(0,0,0,0.6);
}

.signup .about {
    text-align: justify;
}

/* desktop signup */
@media all and (min-width: 960px) {

    .signup {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .signup > * {
        flex-basis: 40rem;
    }

    .signup .form {
        margin: 0 auto;
        width: 30rem;
    }

}
