.tools {
    padding: var(--space-sm);
}

.tools .tool-form {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-sm);
}

.tools .tools-table pre {
    white-space: pre-wrap;
}

/* desktop tools */
@media all and (min-width: 960px) {

    /*flex-row flex-wrap flex-align-center */
    .tools .tool-form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tools .tool-form input {
        margin-right: var(--space-sm);
    }

    .tools .tools-table .tools-table-row .actions-cell {
        width: 100%;
        text-align: center;
    }

}
