.users {
    padding: 1rem;
}

.users .avatar {
    margin-right: 1rem;
}

.users .avatar img {
    display: block;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
}

/* desktop users */
@media all and (min-width: 960px) {

    .users .users-table .users-table-row .actions-cell {
        width: 100%;
        text-align: center;
    }

}
