{% extends 'layout.html' %}
{% block title %}PwnedAdmin | Config{% endblock %}
{% block content %}
<form class="flex flex-col lg:flex-row m-4 gap-4" action="{{ url_for('config.index') }}" method="post">
    {% for config_type in config_types %}
    <div class="flex flex-col lg:flex-1 rounded-lg border-2 border-black">
        <div class="flex flex-col p-4 rounded-t-lg bg-gray-200">
            <div class="text-xl font-bold">{{ config_type|title }}</div>
        </div>
        <div class="flex flex-col gap-2 p-4 rounded-b-lg border-t-2 border-black">
            {% for config in configs %}
            {% if config.type == config_type %}
            <label for="{{ config.name|lower }}">
                <input name="{{ config.name|lower }}" type="checkbox" class="w-4 h-4 accent-red-500" {% if app_config(config.name) %}checked {% endif %}/>
                <span class="font-bold">{{ config.description }} - {% if not app_config(config.name) %}<span class="text-red-500">DISABLED</span>{% else %}<span class="text-green-500">ENABLED</span>{% endif %}</span>
            </label>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</form>
<script>
document.querySelectorAll('input[type="checkbox"]').forEach((element) => {
    element.addEventListener("change", (e) => {
        e.target.form.submit();
    });
});
</script>
{% endblock %}
