{% extends 'layout.html' %}
{% block title %}PwnedAdmin | Inbox{% endblock %}
{% block content %}
<div class="flex flex-col m-4 gap-4">
    <div class="flex flex-row justify-end">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Empty</button>
    </div>
    {% if emails|length > 0 %}
    {% for email in emails %}
    <div class="flex flex-col rounded-lg border-2 border-black">
        <div class="flex flex-col gap-2 p-4 rounded-t-lg bg-gray-200">
            <div class="flex flex-row justify-between">
                <div class="text-xl font-bold">{{ email.subject }}</div>
                <div><code>{{ email.created_as_string }}</code></div>
            </div>
            <div><code>From:</code> <span>{{ email.sender }}</span></div>
            <div><code>To:</code> <span class="font-bold">{{ email.receiver }}</span></div>
        </div>
        <div class="flex flex-col p-4 rounded-b-lg border-t-2 border-black">
            <div class="break-all">{{ email.body|safe }}</div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="flex flex-row justify-center">
        <div class="text-xl font-bold">Inbox is empty.</div>
    </div>
    {% endif %}
</div>
<script>
document.querySelector("button").addEventListener("click", (e) => {
    if (confirm("Are you sure?")) {
        window.location="{{ url_for('email.empty') }}";
    };
});
</script>
{% endblock %}
