.messages {
    height: calc(100vh - 50px); /* height of nav (50) */
    padding: 0 1rem 1rem 1rem;
}

.messages .message-container {
    overflow-y: auto;
}

.messages .message-container .message {
    position: relative;
    padding: 1rem 0;
}

.messages .message-container .message .avatar {
    margin: 0 1rem;
}

.messages .message-container .message .avatar img {
    display: block;
    height: 4rem;
}

.messages .message-container .message .name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.messages .message-container .message .comment {
    margin-bottom: .5rem;
}

.messages .message-container .message a.img-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.messages .message-container .message .link-preview a {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.messages .message-container .message .link-preview p {
    font-size: 1.25rem;
    border-left: 2px solid red;
    padding-left: .5rem;
    margin-bottom: .5rem;
}

.messages .message-container .message .timestamp {
    font-size: 1rem;
    margin-bottom: 0;
}

.messages .message-form {
    position: relative;
}

.messages .message-form input[type=text],
.messages .message-form input[type=text]:focus {
    border: 1px solid #e1e1e1;
    margin: 0;
}

.messages .message-form button {
    line-height: 1em;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
}

/* desktop messages */
@media all and (min-width: 960px) {

    .messages .message-container .message:hover {
        background-color: #eee;
    }

    .messages .message-container .message a.img-btn {
        display: none;
    }

    .messages .message-container .message:hover a.img-btn {
        display: inline;
    }

    .messages .message-form button {
        display: none;
    }

}
