<!DOCTYPE HTML>
<html>
    <head>
        <title>PwnedHub 2.0</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>html{visibility:hidden;opacity:0;}</style><!-- FOUC fix 1/2 -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vue/style.css') }}">
    </head>
    <body>
        <div class="flex-column" id="app">
        </div>
        <script>
            const API_BASE_URL = '{{ config.API_BASE_URL }}';
            const CSRF_TOKEN_NAME = '{{ config.CSRF_TOKEN_NAME }}';
        </script>
        <meta name="google-signin-client_id" content="{{ config.OAUTH_PROVIDERS.google.CLIENT_ID }}">
        <script src="https://apis.google.com/js/platform.js"></script>
        <script src="{{ url_for('static', filename='vue/libs/vue.js') }}"></script><!-- global build -->
        <script src="{{ url_for('static', filename='vue/libs/vue-router.js') }}"></script><!-- global build -->
        <script src="{{ url_for('static', filename='vue/libs/vue-demi.js') }}"></script><!-- iife build -->
        <script src="{{ url_for('static', filename='vue/libs/pinia.js') }}"></script><!-- iife build -->
        <script src="{{ url_for('static', filename='vue/libs/vue3-infinite-loading.js') }}"></script><!-- umd build -->
        <script type="module" src="{{ url_for('static', filename='vue/main.js') }}"></script>
        <style>html{visibility:visible;opacity:1;}</style><!-- FOUC fix 2/2 -->
    </body>
</html>
