<!DOCTYPE HTML>
<html>
<head>
    <title>PwnedHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>html{visibility: hidden;opacity:0;}</style><!-- FOUC fix -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton-flexbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom-flex.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom-utility.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pwnedspa.css') }}">
</head>
<body>
    <div class="flex-column" id="app">
        <modal></modal>
        <background></background>
        <navigation></navigation>
        <content-wrapper></content-wrapper>
    </div>
    <script>
        const API_BASE_URL = "{{ config.API_BASE_URL }}";
    </script>
    <meta name="google-signin-client_id" content="{{ config.OAUTH_PROVIDERS.google.CLIENT_ID }}">
    <!-- base dependencies -->
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="{{ url_for('static', filename='js/vue/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/vue-router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/vuex.js') }}"></script>
    <!-- third-party dependencies -->
    <script src="{{ url_for('static', filename='js/vue/vue-chat-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
    <!-- utility components -->
    <script src="{{ url_for('static', filename='js/vue/components.js') }}"></script>
    <!-- route components -->
    <script src="{{ url_for('static', filename='js/vue/users.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/tools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/mail.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/messages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/scans.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/account.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/reset.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/signup.js') }}"></script>
    <!-- layout components -->
    <script src="{{ url_for('static', filename='js/vue/content.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/background.js') }}"></script>
    <!-- application core -->
    <script src="{{ url_for('static', filename='js/vue/router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/store.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/app.js') }}"></script>
</body>
</html>
