{% extends "layout.html" %}
{% block body %}
<div class="flex-grow about">
    <h3>Welcome to Pwned<span class="red"><b>Hub</b></span>!</h3>
    <p>PwnedHub is revolutionizing the world of bug bounties by combining a one-of-a-kind bounty program with hosted vulnerability scanning to provide a consolidated platform for finding, submitting, validating, and collecting bounties for bugs.</p>
    <p>Developed by child prodigies Cooper ("Cooperman"), Taylor ("Babygirl#1"), and Tanner ("Hack3rPrincess"), PwnedHub was designed based on experience gained through years of security testing. The PwnedHub team is ambitions, talented, and so confident in their product, if you don't like it, they'll issue a full refund. No questions asked.</p>
    <p>(<em>Psssssst! It's free.</em>)</p>
    <p>So what are you waiting for? Click <a href="{{ url_for('auth.login') }}">here</a> and get hunting!</p>
</div>
{% endblock %}
