{% extends "layout.html" %}
{% block body %}
    <div class="about">
        <h3>Welcome to Pwned<span class="red"><b>Hub</b></span>!</h3>
        <p>The ability to collaborate during client engagements is key for security teams dealing with short timelines and high expectations. Unfortunately, today's options for collaborative security testing are poorly designed and fail to support even the most basic needs. PwnedHub attempts to solve this problem by providing a space for sharing knowledge, executing test cases, storing results, and taking a break when things get tense.</p>
        <p>Developed by child prodigies Cooper aka "Cooperman", Taylor aka "Babygirl#1", and Tanner aka "Hack3rPrincess", PwnedHub was designed based on experience gained through years of security testing. The PwnedHub team is ambitions, talented, and so confident in their product, if you don't like it, they'll issue a full refund. No questions asked.</p>
        <p>So what are you waiting for? Click <a href="{{ url_for('login') }}">here</a> and get to work!</p>
    </div>
{% endblock %}
