{% extends "layout.html" %}
{% block body %}
{% if users|length > 0 %}
<div class="page admin">
    <div class="page-header">
        <h3 class="page-title">Manage Users</h3>
    </div>
    <div class="list users-list">
        {% for user in users %}
        <div class="list-item">
            <div class="list-item-primary flex-row flex-align-center">
                <strong>{{ user.name }}</strong>
                <span class="user-username">@{{ user.username }}</span>
                <div class="user-badges">
                {% if user.is_admin %}
                    <span class="badge badge-primary">{{ user.role_as_string }}</span>
                {% else %}
                    <span class="badge badge-muted">{{ user.role_as_string }}</span>
                {% endif %}
                {% if user.is_enabled %}
                    <span class="badge badge-success">{{ user.status_as_string }}</span>
                {% else %}
                    <span class="badge badge-muted">{{ user.status_as_string }}</span>
                {% endif %}
                </div>
            </div>
            <div class="list-item-secondary">{{ user.created_as_string }}</div>
            <div class="list-item-actions">
            {% if user.is_admin %}
                <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='demote', uid=user.id) }}');"><i class="icon fas fa-user-minus" title="Demote"></i></a>
            {% else %}
                <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='promote', uid=user.id) }}');"><i class="icon fas fa-user-plus" title="Promote"></i></a>
            {% endif %}
            {% if user.is_enabled %}
                <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='disable', uid=user.id) }}');"><i class="icon fas fa-user-slash" title="Disable"></i></a>
            {% else %}
                <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='enable', uid=user.id) }}');"><i class="icon fas fa-user" title="Enable"></i></a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
