{% extends "layout.html" %}
{% block body %}
    {% if users|length > 0 %}
    <div class="row">
        <div class="u-full-width center-content">
            <table class="center">
                <thead>
                    <tr><th>created</th><th>username</th><th>role</th><th>status</th><th>action</th></tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.created_as_string }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role_as_string }}</td>
                        <td>{{ user.status_as_string }}</td>
                        <td>
                        {% if user.is_admin %}
                            <button type="button" class="img-btn" onclick="window.location='{{ url_for('core.admin_users_modify', action='demote', uid=user.id) }}'"><img src="{{ url_for('static', filename='images/demote.png') }}" title="demote" /></button>
                        {% else %}
                            <button type="button" class="img-btn" onclick="window.location='{{ url_for('core.admin_users_modify', action='promote', uid=user.id) }}'"><img src="{{ url_for('static', filename='images/promote.png') }}" title="promote" /></button>
                        {% endif %}
                        {% if user.is_enabled %}
                            <button type="button" class="img-btn" onclick="window.location='{{ url_for('core.admin_users_modify', action='disable', uid=user.id) }}'"><img src="{{ url_for('static', filename='images/disable.png') }}" title="disable" /></button>
                        {% else %}
                            <button type="button" class="img-btn" onclick="window.location='{{ url_for('core.admin_users_modify', action='enable', uid=user.id) }}'"><img src="{{ url_for('static', filename='images/enable.png') }}" title="enable" /></button>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
