{% extends "layout.html" %}
{% block body %}
<div class="flex-grow admin flex-row flex-justify-center">
    <form action="{{ url_for('core.admin_tools_add') }}" method="post">
        <table>
            <thead>
                <tr><th>name</th><th>path</th><th>description</th><th>action</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="name" placeholder="Name" /></td>
                    <td><input type="text" name="path" placeholder="Path" /></td>
                    <td><input type="text" name="description" placeholder="Description" /></td>
                    <td><input type="submit" value="Add" onclick="cleanSubmit(event, this.form);" /></td>
                </tr>
            {% for tool in tools %}
                <tr>
                    <td>{{ tool.name }}</td>
                    <td>{{ tool.path }}</td>
                    <td class="left-content">{{ tool.description }}</td>
                    <td>
                        <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.admin_tools_remove', tid=tool.id) }}');"><i class="fas fa-trash" title="Remove"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
