{% extends "sub_layout.html" %}
{% block sub_body %}
    <div class="row">
        <div class="u-full-width center-content">
            <h4>Users</h4>
            <table class="center">
                <thead>
                    <tr><th>created</th><th>username</th><th>role</th><th>status</th><th>action</th></tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.created_as_string }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role_as_string }}</td>
                        <td>{{ user.status_as_string }}</td>
                        <td>
                        {% if user.is_admin %}
                            <input type="button" onclick="window.location='{{ url_for('admin_user', action='demote', id=user.id) }}'" value="demote" />
                        {% else %}
                            <input type="button" onclick="window.location='{{ url_for('admin_user', action='promote', id=user.id) }}'" value="promote" />
                        {% endif %}
                        {% if user.is_enabled %}
                            <input type="button" onclick="window.location='{{ url_for('admin_user', action='disable', id=user.id) }}'" value="disable" />
                        {% else %}
                            <input type="button" onclick="window.location='{{ url_for('admin_user', action='enable', id=user.id) }}'" value="enable" />
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="u-full-width center-content admin">
            <h4>Tools</h4>
            <form action="{{ url_for('admin_tools_add') }}" method="post">
                <table class="center">
                    <thead>
                        <tr><th>name</th><th>path</th><th>description</th><th>action</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="name" placeholder="name" /></td>
                            <td><input type="text" name="path" placeholder="path" /></td>
                            <td><input type="text" name="description" placeholder="description" /></td>
                            <td><input type="submit" value="add" onclick="this.form.submit();" /></td>
                        </tr>
                    {% if tools|length > 0 %}
                    {% for tool in tools %}
                        <tr>
                            <td>{{ tool.name }}</td>
                            <td>{{ tool.path }}</td>
                            <td>{{ tool.description }}</td>
                            <td>
                                <input type="button" onclick="window.location='{{ url_for('admin_tools_remove', id=tool.id) }}'" value="remove" />
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
