{% extends "layout.html" %}
{% block body %}
{% if users|length > 0 %}
<div class="flex-grow admin flex-row flex-justify-center">
    <table>
        <thead>
            <tr><th>created</th><th>display name</th><th>username</th><th>role</th><th>status</th><th>action</th></tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.created_as_string }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role_as_string }}</td>
                <td>{{ user.status_as_string }}</td>
                <td>
                {% if user.is_admin %}
                    <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='demote', uid=user.id) }}')"><i class="fas fa-user-minus" title="demote"></i></a>
                {% else %}
                    <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='promote', uid=user.id) }}')"><i class="fas fa-user-plus" title="promote"></i></a>
                {% endif %}
                {% if user.is_enabled %}
                    <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='disable', uid=user.id) }}')"><i class="fas fa-user-slash" title="disable"></i></a>
                {% else %}
                    <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.admin_users_modify', action='enable', uid=user.id) }}')"><i class="fas fa-user" title="enable"></i></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
