<!DOCTYPE HTML>
<html>
<head>
    <title>PwnedHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pwnedhub.css') }}">
</head>
<body>
    <div class="center-content banner">
        <h1>Pwned<span class="red"><b>Hub</b></span></h1>
        <h3>{{ message }}</h3>
    </div>
</body>
</html>
