{% extends "layout.html" %}
{% block body %}
<div class="scoreboard flex-row flex-wrap">
    <div class="flex-grow score-panel rounded gutter-child flex-no-basis flex-column">
        <div class="flex-column wrapper rounded">
            <div class="header center-content"><h5>Top 5 Reputation<h5></div>
        {% for user in reputation_data %}
            <div class="score flex-row flex-align-center flex-justify-space-between">
                <div class="position"><b>{{ loop.index }}</b></div>
                <div class="trophy position-{{ loop.index }}"><i class="fas fa-trophy" title="trophy"></i></div>
                <div class="avatar"><a href="{{ url_for('core.profile_view', uid=user.id) }}"><img class="circular bordered-dark" src="{{ user.avatar_or_default|safe }}" title="avatar" /></a></div>
                <div class="flex-grow"><b>{{ user.name }}</b></div>
                <div><h5>{{ user.reputation }}</h5></div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="flex-grow score-panel rounded gutter-child flex-no-basis flex-column">
        <div class="flex-column wrapper rounded">
            <div class="header center-content"><h5>Top 5 Submitters<h5></div>
        {% for user in bug_data %}
            <div class="score flex-row flex-align-center flex-justify-space-between">
                <div class="position"><b>{{ loop.index }}</b></div>
                <div class="trophy position-{{ loop.index }}"><i class="fas fa-trophy" title="trophy"></i></div>
                <div class="avatar"><a href="{{ url_for('core.profile_view', uid=user.id) }}"><img class="circular bordered-dark" src="{{ user.avatar_or_default|safe }}" title="avatar" /></a></div>
                <div class="flex-grow"><b>{{ user.name }}</b></div>
                <div><h5>{{ user.bugs.count() }}</h5></div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="flex-grow score-panel rounded gutter-child flex-no-basis flex-column">
        <div class="flex-column wrapper rounded">
            <div class="header center-content"><h5>Top 5 Validators<h5></div>
        {% for user in validation_data %}
            <div class="score flex-row flex-align-center flex-justify-space-between">
                <div class="position"><b>{{ loop.index }}</b></div>
                <div class="trophy position-{{ loop.index }}"><i class="fas fa-trophy" title="trophy"></i></div>
                <div class="avatar"><a href="{{ url_for('core.profile_view', uid=user.id) }}"><img class="circular bordered-dark" src="{{ user.avatar_or_default|safe }}" title="avatar" /></a></div>
                <div class="flex-grow"><b>{{ user.name }}</b></div>
                <div><h5>{{ user.completed_validations|length }}</h5></div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
