{% extends "layout.html" %}
{% block body %}
<div class="flex-width-10 flex-offset-1 flex-basis-10 config">
    <form class="flex-column" action="{{ url_for('core.config') }}" method="post">
        <div class="panel rounded">
            <div>Security Controls</div>
            <hr>
            <label for="csrf_protect">
                <input name="csrf_protect" type="checkbox" {% if app_config('CSRF_PROTECT') %}checked {% endif %}/>
                <span>Profile CSRF Protection (PwnedHub) - {% if not app_config('CSRF_PROTECT') %}<span class="red">DISABLED</span>{% else %}<span class="green">ENABLED</span>{% endif %}</span>
            </label>
            <label for="cors_restrict">
                <input name="cors_restrict" type="checkbox" {% if app_config('CORS_RESTRICT') %}checked {% endif %}/>
                <span>Restricted CORS (PwnedAPI) - {% if not app_config('CORS_RESTRICT') %}<span class="red">DISABLED</span>{% else %}<span class="green">ENABLED</span>{% endif %}</span>
            </label>
        </div>
        <div class="panel rounded">
            <div>Features</div>
            <hr>
            <label for="bearer_enable">
                <input name="bearer_enable" type="checkbox" {% if app_config('BEARER_AUTH_ENABLE') %}checked {% endif %}/>
                <span>Bearer Token Authentication (PwnedAPI) - {% if not app_config('BEARER_AUTH_ENABLE') %}<span class="red">DISABLED</span>{% else %}<span class="green">ENABLED</span>{% endif %}</span>
            </label>
        </div>
        <div class="left-content">
            <input type="submit" value="Submit" onclick="cleanSubmit(event, this.form);" />
        </div>
    </form>
</div>
{% endblock %}
