{% extends "layout.html" %}
{% block body %}
<div class="flex-grow banner flex-column flex-justify-space-evenly">
    <div class="center-content">
        <h3>A <span class="red">collaborative</span> space to conduct <span class="red">hosted</span> security assessments.</h3>
    </div>
    <div class="center-content">
        <input type="button" onclick="window.location='{{ url_for('auth.login') }}';" value="Get Started" />
    </div>
    <div class="flex-row flex-wrap">
        <div class="flex-grow flex-no-basis panel center-content">
            <h5>Scan.</h5>
            <i class="fas fa-search large" title="Find"></i>
        </div>
        <div class="flex-grow flex-no-basis panel center-content">
            <h5>Find.</h5>
            <i class="fas fa-bug large" title="Bug"></i>
        </div>
        <div class="flex-grow flex-no-basis panel center-content">
            <h5>Win.</h5>
            <i class="fas fa-dollar-sign large" title="Bounty"></i>
        </div>
    </div>
</div>
{% endblock %}
