{% extends "layout.html" %}
{% block body %}
    <div class="center-content banner">
        <h3>A <span class="red">secure</span> space to conduct <span class="red">security</span> assessments.</h3>
        <input type="button" onclick="window.location='{{ url_for('login') }}';" value="get started" />
    </div>
    <div class="row center-content">
        <div class="four columns panel rounded"><h5>Expose <span class="red">flaws</span>.</h5></div>
        <div class="four columns panel rounded"><h5>Gather <span class="red">evidence</span>.</h5></div>
        <div class="four columns panel rounded"><h5>Win <span class="red">engagements</span>.</h5></div>
    </div>
{% endblock %}
