<!DOCTYPE HTML>
<html>
<head>
    <title>PwnedHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.6.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pwnedhub.css') }}">
</head>
<body>
    <div id="flash" class="flash center-content rounded shaded">{{ get_flashed_messages()|join(', ') }}</div>
    <div class="container">
        <div class="nav">
            <div class="brand">
                <a href="{{ url_for('index') }}"><span class="black">Pwned</span><b>Hub</b></a>
            </div>
            <div class="links">
                <ul>
                {% if g.user %}
                    <li>hi {{ g.user.name }}!</li>
                    <li class="black">|</li>
                    <li><a href="{{ url_for('logout') }}">log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">register</a></li>
                    <li class="black">|</li>
                    <li><a href="{{ url_for('login') }}">log in</a></li>
                {% endif %}
                <li class="black">|</li>
                <li><a href="{{ url_for('about') }}">about</a></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    {% if g.user %}
        <div class="floating-nav rounded shaded" id="draggable" draggable="true">
            <hr><hr><hr>
        {% if g.user.is_admin %}
            <span title="admin"><a title="click to view" href="{{ url_for('admin') }}"><img src="{{ url_for('static', filename='images/admin.png') }}" /></a></span><br>
        {% endif %}
            <span title="profile"><a title="click to view" href="{{ url_for('profile') }}"><img src="{{ url_for('static', filename='images/profile.png') }}" /></a></span><br>
            <span title="notes"><a title="click to view" href="{{ url_for('notes') }}"><img src="{{ url_for('static', filename='images/notes.png') }}" /></a></span><br>
            <span title="mail"><a title="click to view" href="{{ url_for('mail') }}"><img src="{{ url_for('static', filename='images/mail.png') }}" /></a></span><br>
            <span title="messages"><a title="click to view" href="{{ url_for('messages') }}"><img src="{{ url_for('static', filename='images/messages.png') }}" /></a></span><br>
            <span title="artifacts"><a title="click to view" href="{{ url_for('artifacts') }}"><img src="{{ url_for('static', filename='images/artifacts.png') }}" /></a></span><br>
            <span title="tools"><a title="click to view" href="{{ url_for('tools') }}"><img src="{{ url_for('static', filename='images/tools.png') }}" /></a></span><br>
            <span title="games"><a title="click to view" href="{{ url_for('games') }}"><img src="{{ url_for('static', filename='images/games.png') }}" /></a></span><br>
        </div>
    {% endif %}
        <div class="content">
            <br><br>
            {% block body %}{% endblock %}
        </div>
        <div class="footer center-content">
            &copy; {{ date.year }} PwnedHub. All rights reserved.
        </div>
    </div>
</body>
</html>
