<!DOCTYPE HTML>
<html>
<head>
    <title>PwnedHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>html{visibility:hidden;opacity:0;}</style><!-- FOUC fix 1/2 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/variables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/baseline.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/custom-flex.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/custom-utility.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pwnedhub.css') }}">
    <script nonce="{{ g.nonce }}" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.6.2.min.js') }}"></script>
    <script nonce="{{ g.nonce }}" type="text/javascript" src="{{ url_for('static', filename='js/pwnedhub.js') }}"></script>
    <script nonce="{{ g.nonce }}" type="text/javascript" src="{{ url_for('static', filename='js/showdown.js') }}"></script>
    <script nonce="{{ g.nonce }}" type="text/javascript" src="{{ url_for('static', filename='js/purify.min.js') }}"></script>
</head>
<body>
    <div id="flash" class="flash"></div>
    <header class="site-header">
        <nav class="site-nav">
            <div class="nav-brand">
                <a href="{{ url_for('core.index') }}"><img src="{{ url_for('common.static', filename='images/logo.png') }}" /></a>
            </div>
            {% set route = request.endpoint or '' %}
            <div class="nav-links">
                {% if g.user %}
                    {% if g.user.is_admin %}
                    <a class="nav-link {% if route.startswith('core.admin_users') %}active{% endif %}" href="{{ url_for('core.admin_users') }}">Users</a>
                    <a class="nav-link {% if route.startswith('core.admin_tools') %}active{% endif %}" href="{{ url_for('core.admin_tools') }}">Tools</a>
                    <a class="nav-link {% if route.startswith('core.mail') %}active{% endif %}" href="{{ url_for('core.mail') }}">{% if g.user.has_unread_mail %}*{% endif %}PwnMail</a>
                    <a class="nav-link {% if route.startswith('core.messages') %}active{% endif %}" href="{{ url_for('core.messages') }}">Messages</a>
                    {% else %}
                    <a class="nav-link {% if route.startswith('core.notes') %}active{% endif %}" href="{{ url_for('core.notes') }}">Notes</a>
                    <a class="nav-link {% if route.startswith('core.artifacts') %}active{% endif %}" href="{{ url_for('core.artifacts') }}">Artifacts</a>
                    <a class="nav-link {% if route.startswith('core.tools') %}active{% endif %}" href="{{ url_for('core.tools') }}">Tools</a>
                    <a class="nav-link {% if route.startswith('core.mail') %}active{% endif %}" href="{{ url_for('core.mail') }}">{% if g.user.has_unread_mail %}*{% endif %}PwnMail</a>
                    <a class="nav-link {% if route.startswith('core.messages') %}active{% endif %}" href="{{ url_for('core.messages') }}">Messages</a>
                    {% endif %}
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    <a href="{{ url_for('core.profile') }}"><img class="nav-avatar" src="{{ g.user.avatar_or_default|safe }}" title="Profile" /></a>
                {% else %}
                {% if not app_config('OIDC_ENABLE') %}
                    <a class="nav-link {% if route == 'auth.register' %}active{% endif %}" href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
                    <a class="nav-link {% if route == 'auth.login' %}active{% endif %}" href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="site-main">
        {% block body %}{% endblock %}
    </main>
    <footer class="site-footer">
        <div class="site-footer-content">
            &copy; {{ date.year }} PwnedHub. All rights reserved.
        </div>
    </footer>
    {% if get_flashed_messages() %}
    <script nonce="{{ g.nonce }}">
        {% for message in get_flashed_messages()|unique %}
        showFlash("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
    <style>html{visibility:visible;opacity:1;}</style><!-- FOUC fix 2/2 -->
</body>
</html>
