{% extends "layout.html" %}
{% block body %}
<div class="flex-width-4 flex-offset-4 flex-basis-4 flex-column flex-align-center login">
{% if app_config('OIDC_ENABLE') %}
    <div class="oidc bordered-light rounded">
        <div class="center-content">
            <h4>Login with your<br/>Google Account</h4>
            <hr>
            <p>No need to register or remember another pesky password! Just click the button below to register and/or sign-in and get started.</p>
            <hr>
            <img class="oidc-button" src="{{ url_for('common.static', filename='images/google_signin.png') }}" onclick="window.location='{{ url_for('auth.oauth_login', provider='google') }}';" />
        </div>
    </div>
{% else %}
    {% if app_config('SSO_ENABLE') %}
    <form class="flex-column form" action="http://sso.pwnedhub.com/authenticate{% if next %}?next={{ next }}{% endif %}" method="post">
    {% else %}
    <form class="flex-column form" action="{{ url_for('auth.login', next=next) }}" method="post">
    {% endif %}
        <label for="username">Username:</label>
        <input name="username" type="text" />
        <label for="password">Password:</label>
        <div class="flex-column" style="position: relative;">
            <input id="password" name="password" type="password" />
            <input type="button" class="show" tabindex="-1" onclick="toggleShow();" value="show" />
        </div>
        <p><a href="{{ url_for('auth.reset_init') }}">Forget your password?</a></p>
        <input type="submit" value="Login" />
    </form>
{% endif %}
</div>
{% endblock %}
