{% extends "layout.html" %}
{% block body %}
    <br><br>
    <div class="row">
        <div class="four columns offset-by-four auth-form rounded shaded">
            <h4>log in</h4>
            <form action="" method="post">
                <label for="username">username</label>
                <input class="u-full-width" name="username" type="text" />
                <label for="password">password</label>
                <input class="u-full-width" name="password" type="password" />
                <p><a href="{{ url_for('reset_init') }}">forget your password?</a></p>
                <input class="u-full-width" type="submit" value="login" onclick="this.form.submit();" />
            </form>
        </div>
    </div>
{% endblock %}
