{% extends "layout.html" %}
{% block body %}
<div class="flex-width-4 flex-offset-4 flex-basis-4">
    <form class="flex-column" action="" method="post">
        <label for="username">Username:</label>
        <input name="username" type="text" />
        <label for="password">Password:</label>
        <div class="flex-column" style="position: relative;">
            <input id="password" name="password" type="password" />
            <input type="button" class="show" onclick="toggleShow();" value="show" />
        </div>
        <p><a href="{{ url_for('auth.reset_init') }}">Forget your password?</a></p>
        <input type="submit" value="Login" />
        <hr>
        <div class="center-content">
            <a href="{{ url_for('auth.oauth_login', provider='google') }}"><img style="max-width: 100%;" src="{{ url_for('static', filename='images/google_signin.png') }}" /></a>
        </div>
    </form>
</div>
{% endblock %}
