{% macro pagination(route, items) %}
<div class="pagination flex-row flex-align-center flex-justify-right">
<!-- previous page -->
{% if items.has_prev %}
    <a href="{{ url_for(route, page=items.prev_num) }}">&laquo;</a>
{% endif %}
<!-- all page numbers -->
{% for page_num in items.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
{% if page_num %}
    <a href="{{ url_for(route, page=page_num) }}"{% if page_num == items.page %} class="active"{% endif %}>{{ page_num }}</a>
{% else %}
    <span>...</span>
{% endif %}
{% endfor %}
<!-- next page -->
{% if items.has_next %}
    <a href="{{ url_for(route, page=items.next_num) }}">&raquo;</a>
{% endif %}
</div>
{% endmacro %}
