{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="ten columns offset-by-one mail">
            <form action="{{ url_for('core.mail_compose') }}" method="post">
                <label for="receiver-show">to:</label>
                <div class="u-full-width" name="receiver-show">{{ letter.sender.name }}</div><br>
                <label for="subject-show">subject:</label>
                <div class="u-full-width" name="subject-show"><h5>RE: {{ letter.subject }}</h5></div>
                <input type="hidden" name="receiver" value="{{ letter.sender.id }}" />
                <input type="hidden" name="subject" value="RE: {{ letter.subject }}" />
                <label for="content">content:</label>
                <textarea class="u-full-width" name="content" placeholder="content here..."></textarea><br>
                <div class="u-full-width right-content">
                    <button type="submit" class="img-btn" onclick="this.form.submit();"><img src="{{ url_for('static', filename='images/send.png') }}" title="send" /></button>
                    <button type="button" class="img-btn" onclick="window.location='{{ url_for('core.mail') }}'"><img src="{{ url_for('static', filename='images/delete.png') }}" title="discard" /></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
