{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="ten columns offset-by-one mail">
            <form action="{{ url_for('core.mail_compose') }}" method="post">
                <label for="receiver-show">to:</label>
                <div class="u-full-width" name="receiver-show">{{ mail.sender.name }}</div><br>
                <label for="subject-show">subject:</label>
                <div class="u-full-width" name="subject-show"><h5>RE: {{ mail.subject }}</h5></div>
                <input type="hidden" name="receiver" value="{{ mail.sender.id }}" />
                <input type="hidden" name="subject" value="RE: {{ mail.subject }}" />
                <label for="content">content:</label>
                <textarea class="u-full-width" name="content" placeholder="content here..."></textarea><br>
                <div class="u-full-width right-content">
                    <input type="button" value="discard" onclick="window.location='{{ url_for('core.mail') }}'" />
                    <input type="submit" value="send" onclick="this.form.submit();" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
