{% extends "layout.html" %}
{% block body %}
<div class="page mail">
    <div class="page-header">
        <h3 class="page-title">{{ letter.subject }}</h3>
    </div>
    <div class="card">
        <div class="mail-header">
            <a class="mail-sender-avatar" href="{{ url_for('core.profile_view', uid=letter.sender.id) }}">
                <img class="circular bordered-dark" src="{{ letter.sender.avatar_or_default|safe }}" title="View profile" />
            </a>
            <div class="mail-sender-info">
                <p class="mail-sender-name">{{ letter.sender.name }}</p>
                <p class="mail-sender-to">to {{ letter.receiver.name }}</p>
            </div>
            <div class="mail-timestamp">{{ letter.created_as_string }}</div>
        </div>
        <div class="mail-content">{{ letter.content|safe }}</div>
        <div class="card-footer flex-row flex-justify-space-between">
            <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.mail') }}');"><i class="icon fas fa-arrow-left" title="Inbox"></i></a>
            <div>
                <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.mail_reply', mid=letter.id) }}');"><i class="icon fas fa-reply" title="Reply"></i></a>
                <a class="btn-icon" onclick="cleanRedirect(event, '{{ url_for('core.mail_delete', mid=letter.id) }}');"><i class="icon fas fa-trash" title="Delete"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
