{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="ten columns offset-by-one mail">
            <form action="{{ url_for('core.mail_compose') }}" method="post">
                <label for="receiver">to:</label>
                <select name="receiver">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
                </select><br>
                <label for="subject">subject:</label>
                <input class="u-full-width" name="subject" type="text" placeholder="subject here..." /><br>
                <label for="content">content:</label>
                <textarea class="u-full-width" name="content" placeholder="content here..."></textarea><br>
                <div class="u-full-width right-content">
                    <input type="button" value="discard" onclick="window.location='{{ url_for('core.mail') }}'" />
                    <input type="submit" value="send" onclick="this.form.submit();" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
