{% extends "layout.html" %}
{% block body %}
<div class="flex-grow inbox flex-row flex-justify-center">
    <table>
        <caption class="left-content"><input type="button" onclick="window.location='{{ url_for('core.mail_compose') }}'" value="Compose" /></caption>
        <thead>
            <tr><th>from</th><th>subject</th><th>date</th><th>action</th></tr>
        </thead>
        <tbody>
        {% if mail|length > 0 %}
        {% for letter in mail %}
            <tr style="cursor: pointer;{% if letter.read == 0 %} font-weight: bold;{% endif %}" onclick="cleanRedirect(event, '{{ url_for('core.mail_view', mid=letter.id) }}')">
                <td class="left-content">{{ letter.sender.name }}</td>
                <td class="left-content">{{ letter.subject }}</td>
                <td>{{ letter.created_as_string }}</td>
                <td>
                    <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.mail_reply', mid=letter.id) }}')"><i class="fas fa-reply" title="Reply"></i></a>
                    <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.mail_delete', mid=letter.id) }}')"><i class="fas fa-trash" title="Delete"></i></a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr><td colspan="4" class="center-content"><i class="fas fa-exclamation-circle medium" title="Empty"></i></td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
