{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="ten columns offset-by-one mail">
            <form action="{{ url_for('mail_compose') }}" method="post">
                <label for="receiver">to:</label>
                <input type="hidden" name="receiver" value="{{ mail.sender.id }}" />
                <select disabled>
                    <option value="{{ mail.sender.id }}">{{ mail.sender.name }}</option>
                </select><br>
                <label for="subject">subject:</label>
                <input class="u-full-width" name="subject" type="text" value="RE: {{ mail.subject }}" placeholder="subject here..." /><br>
                <label for="content">content:</label>
                <textarea class="u-full-width" name="content" placeholder="content here..."></textarea><br>
                <div class="u-full-width right-content">
                    <input type="button" value="discard" onclick="window.location='{{ url_for('mail') }}'" />
                    <input type="submit" value="send" onclick="this.form.submit();" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
