{% extends "layout.html" %}
{% block body %}
{% if react %}
    <script src="{{ url_for('static', filename='react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='react/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='react/axios.min.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='react/messages.js') }}"></script>
    <div id="react-container"></div>
{% else %}
    <div class="row">
        <div class="ten columns offset-by-one center-content">
            <form action="{{ url_for('core.messages') }}" method="post">
                <input style="float: right;" type="submit" value="submit" onclick="this.form.submit();" />
                <span style="display: block; overflow: hidden; padding-right: 10px">
                    <input style="width: 100%;" name="message" type="text" placeholder="message here..." />
                </span>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="ten columns offset-by-one messages">
        {% if messages|length > 0 %}
        {% for message in messages %}
        {% if message.user == g.user or g.user.is_admin %}
            <div>
                <div name="action_{{ message.id }}" class="delete">
                    <a href="{{ url_for('core.messages_delete', id=message.id) }}">
                        <img src="{{ url_for('static', filename='images/trash.png') }}" />
                    </a>
                </div>
        {% endif %}
                <div{% if message.user == g.user %} style="font-weight: bold;"{% endif %}>
                    <p class="name"><span class="red">{{ message.user.name }}</span> <span style="font-size: .75em">({{ message.user.username }})</span></p>
                    <p class="message">{{ message.comment|safe }}</p>
                    <div class="unfurl"></div>
                    <p class="timestamp">{{ message.created_as_string }}</p>
                </div>
        {% if message.user == g.user %}
            </div>
        {% endif %}
        {% endfor %}
        {% if pages %}
            <div class="pagination">
            {% for page in range(0, pages) %}
            {% if page == current_page %}
                <b class="red">{{ page }}</b>
            {% else %}
                <a href="{{ url_for('core.messages_page', page=page) }}">{{ page }}</a>
            {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        {% else %}
            <div class="center-content">
                no messages
            </div>
        {% endif %}
        </div>
    </div>
    <script>
function buildUnfurl(uri, data) {
    // build array of values in specific order
    var values = [];
    var keys = ["site_name", "title", "description"];
    for (var k in keys) {
        if (data.unfurl[keys[k]] !== null) {
            values.push(data.unfurl[keys[k]]);
        }
    }
    // return nothing if there are no values
    if (values.length === 0) {
        return '';
    }
    // create unfurl content
    var p = document.createElement("p");
    p.textContent = values.join(" | ");
    // create unfurl link (root)
    var a = document.createElement("a");
    a.href = uri;
    // append content to link
    a.append(p);
    // return the root element
    return a;
}

var messages = document.getElementsByClassName("message");
var pattern = /\w+:(\/?\/?)[^\s]+/gi;
for (var i = 0; i < messages.length; i++) {
    var content = messages[i].innerHTML;
    matches = content.match(pattern);
    if (matches !== null) {
        for (var x = 0; x < matches.length; x++) {
            var uri = matches[x];
            // closure required to localize parameters
            (function(i, uri) {
                $.ajax({
                    url: "{{ url_for('api.unfurl') }}",
                    type: "POST",
                    data: JSON.stringify({uri: uri}),
                    contentType: "application/json",
                    success: function(data){
                        var content = buildUnfurl(uri, data);
                        // append content to unfurl div
                        messages[i].nextElementSibling.append(content);
                    },
                    error: function(xhr) {
                        //console.log(xhr);
                    }
                });
            })(i, uri);
        }
    }
}
    </script>
{% endif %}
{% endblock %}
