{% extends "layout.html" %}
{% block body %}
<div class="flex-grow">
    <form class="flex-width-10 flex-offset-1 flex-row flex-align-center" action="{{ url_for('core.messages_create') }}" method="post">
        <input class="flex-grow gutter-right" name="message" type="text" placeholder="Message here..." />
        <input type="submit" value="Submit" onclick="this.form.submit();" />
    </form>
    <div class="messages flex-column">
    {% if messages|length > 0 %}
    {% for message in messages %}
        <div class="message flex-row">
        {% if message.user == g.user or g.user.is_admin %}
            <a class="img-btn" onclick="cleanRedirect(event, '{{ url_for('core.messages_delete', mid=message.id) }}')"><i class="fas fa-trash" title="Delete"></i></a>
        {% endif %}
            <div class="avatar"><a href="{{ url_for('core.profile_view', uid=message.user.id) }}"><img class="circular bordered-dark" src="{{ message.user.avatar_or_default|safe }}" title="Avatar" /></a></div>
            <div{% if message.user == g.user %} style="font-weight: bold;"{% endif %}>
                <p class="name"><span class="red">{{ message.user.name }}</span> <span style="font-size: .75em">({{ message.user.username }})</span></p>
                <p class="comment">{{ message.comment|safe }}</p>
                <div class="scroll"></div>
                <p class="timestamp">{{ message.created_as_string }}</p>
            </div>
        </div>
    {% endfor %}
    {% from "macros.html" import pagination %}
    {{ pagination('core.messages', current_page, page_count) }}
    {% endif %}
    </div>
</div>
<script>
function buildUnfurl(url, data) {
    // build array of values in specific order
    var values = [];
    var keys = ["site_name", "title", "description"];
    for (var k in keys) {
        if (data[keys[k]] !== null) {
            values.push(data[keys[k]]);
        }
    }
    // return nothing if there are no values
    if (values.length === 0) {
        return '';
    }
    // create unfurl content
    var p = document.createElement("p");
    p.textContent = values.join(" | ");
    // create unfurl link (root)
    var a = document.createElement("a");
    a.href = url;
    // append content to link
    a.append(p);
    // return the root element
    return a;
}

var messages = document.getElementsByClassName("comment");
var pattern = /\w+:(\/?\/?)[^\s]+/gi;
for (var i = 0; i < messages.length; i++) {
    var content = messages[i].innerHTML;
    matches = content.match(pattern);
    if (matches !== null) {
        for (var x = 0; x < matches.length; x++) {
            var url = matches[x];
            // closure required to localize parameters
            (function(i, url) {
                $.ajax({
                    url: "{{ url_for('api.unfurl') }}",
                    type: "POST",
                    data: JSON.stringify({url: url}),
                    contentType: "application/json",
                    success: function(data){
                        var content = buildUnfurl(url, data);
                        // append content to unfurl div
                        messages[i].nextElementSibling.append(content);
                    },
                    error: function(xhr) {
                        //console.log(xhr);
                    }
                });
            })(i, url);
        }
    }
}
</script>
{% endblock %}
