{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="u-full-width notes">
            <textarea name="notes" id="notes">{{ notes }}</textarea>
            <input class="save-as" type="button" onclick="save();" value="save as artifact" />
        </div>
    </div>
    <script>
//document.body.onunload = function(){
document.getElementById("notes").onblur = function() {
    $.ajax({
        url: "{{ url_for('notes') }}",
        type: "POST",
        async: false,
        data: {
            notes: this.value,
        },
        success: function(data){
            console.log("Notes saved.")
        }
    });
};

function save() {
    var filename = "Notes";
    var content = document.getElementById("notes").innerHTML;
    save_text(filename, content);
}
    </script>
{% endblock %}
