{% extends "layout.html" %}
{% block body %}
<div class="flex-grow notes flex-column">
    <a class="img-btn" onclick="save_artifact(event);"><i class="fas fa-save" title="Save as artifact"></i></a>
    <div class="tabs">
        <input id="tab-one" type="radio" name="grp" value="#pane-1" checked="checked"/>
        <label for="tab-one">Edit</label>
        <input id="tab-two" type="radio" name="grp" value="#pane-2" />
        <label for="tab-two">View</label>
    </div>
    <div class="flex-grow tab-content flex-row">
        <div id="pane-1" class="flex-grow flex-row active">
            <textarea class="flex-grow" name="notes" id="notes">{{ notes }}</textarea>
        </div>
        <div id="pane-2" class="flex-grow markdown"></div>
    </div>
</div>
<script>
var notes = document.getElementById("notes")
var view = document.getElementById("tab-two")
var key = "{{ g.user.username|safe }}-notes";
var mdConverter = new showdown.Converter();

// register an event to render the notes in the view tab when clicked
view.addEventListener("click", function() {
    var text = notes.value;
    var html = mdConverter.makeHtml(text);
    document.getElementById("pane-2").innerHTML = html;
});

// register an event to save the notes when focus is lost
notes.addEventListener("blur", function() {
    // persist notes locally in case of a failed sync
    localStorage.setItem(key, this.value);
    // sync the notes
    $.ajax({
        url: "{{ config.API_BASE_URL }}/users/{{ g.user.id }}",
        type: "PATCH",
        async: false,
        xhrFields: {
            withCredentials: true
        },
        data: JSON.stringify({notes: this.value}),
        contentType: "application/json",
        success: function(data){
            this.value = data.notes;
        }
    });
});

// load the local version of the notes as they will
// be the most recent in the event of a sync failure
if (localStorage.getItem(key)) {
    notes.value = localStorage.getItem(key);
    // force an attempt to sync the notes to the server
    notes.dispatchEvent(new Event('blur'));
    // should move most of this logic into the AJAX call's
    // success and error handlers to do it right
}

function save_artifact(event) {
    event.preventDefault();
    event.stopPropagation();
    var filename = "Notes";
    var content = notes.innerHTML;
    if (confirm("Save as an artifact?") == true) {
        $.ajax({
            url: "{{ config.API_BASE_URL }}/artifacts",
            type: "POST",
            xhrFields: {
                withCredentials: true
            },
            data: "<xml><filename>"+filename+"</filename><content>"+content+"</content></xml>",
            contentType: 'application/xml',
            success: function(data){
                show_flash($(data).find("message").text());
            }
        });
    }
}
</script>
{% endblock %}
