{% extends "layout.html" %}
{% block body %}
<div class="flex-width-4 flex-offset-4 flex-basis-4 profile">
    <div class="avatar"><a class="center" href="{{ url_for('core.profile_view', uid=user.id) }}"><img class="circular bordered-dark" src="{{ user.avatar_or_default|safe }}" title="Avatar" /></a></div>
    <form class="flex-column" action="{{ url_for('core.profile_change') }}" method="post">
        <label for="username">Username:</label>
        <input name="username" type="text" value="{{ user.username }}" disabled />
        <label for="email">Email:</label>
        <input name="email" type="text" value="{{ user.email }}" disabled />
        <label for="avatar">Avatar URL:</label>
        <input name="avatar" type="text" value="{{ user.avatar or '' }}" />
        <label for="signature">Signature:</label>
        <textarea name="signature">{{ user.signature }}</textarea>
        <label for="name">Display Name: *</label>
        <input name="name" type="text" value="{{ user.name }}" />
        <label for="password">New Password:</label>
        <div class="flex-column" style="position: relative;">
            <input id="password" name="password" type="password" />
            <input type="button" class="show" onclick="toggleShow();" value="show" />
        </div>
        <label for="question">Question: *</label>
        <select name="question">
        {% for question in questions %}
            <option value="{{ question }}"{% if question == user.question %} selected{% endif %}>{{ questions[question] }}</option>
        {% endfor %}
        </select>
        <label for="answer">Answer: *</label>
        <input name="answer" type="text" value="{{ user.answer }}" />
        <input type="submit" value="Submit" onclick="cleanSubmit(event, this.form);" />
    </form>
</div>
{% endblock %}
