{% extends "layout.html" %}
{% block body %}
<div class="page-centered profile-view">
    <div class="card form-card center-content">
        <div class="profile-view-avatar">
            <img class="circular bordered-dark" src="{{ user.avatar_or_default|safe }}" title="Avatar" />
        </div>
        <h2 class="profile-view-name">{{ user.name }}</h2>
        <p class="profile-view-meta">Member since {{ user.created_as_string[:-9] }}</p>
        {% if user.signature %}
        <blockquote class="profile-view-signature">{{ user.signature }}</blockquote>
        {% endif %}
    </div>
</div>
{% endblock %}
