{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="profile">
            <form action="{{ url_for('core.profile_change') }}" method="post">
                <label for="username">username</label>
                <input class="u-full-width" name="username" type="text" value="{{ user.username }}" disabled/>
                <label for="name">display name</label>
                <input class="u-full-width" name="name" type="text" value="{{ user.name }}" />
                <label for="password">password</label>
                <input class="u-full-width" name="password" type="password" value="{{ user.password_as_string }}" />
                <div class="row">
                    <div class="col-xs-6">
                        <label for="question">question</label>
                        <select class="u-full-width" name="question">
                        {% for question in questions %}
                            <option value="{{ question }}"{% if question == user.question %} selected{% endif %}>{{ questions[question] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <label for="answer">answer</label>
                        <input class="u-full-width" name="answer" type="text" value="{{ user.answer }}" />
                    </div>
                </div>
                <input class="u-full-width" type="submit" value="submit" onclick="this.form.submit();" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
