{% extends "layout.html" %}
{% block body %}
<div class="flex-width-4 flex-offset-4 flex-basis-4">
    <form class="flex-column" action="{{ url_for('auth.register') }}" method="post">
        <label for="username">Username: *</label>
        <input name="username" type="text" />
        <label for="email">Email (Gmail for OpenID): *</label>
        <input name="email" type="text" />
        <label for="name">Display Name: *</label>
        <input name="name" type="text" />
        <label for="avatar">Avatar URL:</label>
        <input name="avatar" type="text" />
        <label for="signature">Signature:</label>
        <textarea name="signature"></textarea>
        <label for="password">Password: *</label>
        <div class="flex-column" style="position: relative;">
            <input id="password" name="password" type="password" />
            <input type="button" class="show" onclick="toggle_show();" value="show" />
        </div>
        <label for="question">Question: *</label>
        <select name="question">
        {% for question in questions %}
            <option value="{{ question }}">{{ questions[question] }}</option>
        {% endfor %}
        </select>
        <label for="answer">Answer: *</label>
        <input name="answer" type="text" />
        <input type="submit" value="Register" onclick="cleanSubmit(event, this.form);" />
    </form>
</div>
{% endblock %}
