{% extends "layout.html" %}
{% block body %}
<div class="page-centered">
    <div class="card form-card">
        <form class="flex-column" action="{{ url_for('auth.reset_init') }}" method="post">
            <h4 class="card-title">Password trouble?</h4>
            <div class="form-group">
                <label class="form-label" for="username">Username</label>
                <input class="form-input" name="username" type="text" value="" />
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" onclick="cleanSubmit(event, this.form);" />
        </form>
    </div>
</div>
{% endblock %}
