{% extends "layout.html" %}
{% block body %}
<div class="flex-width-4 flex-offset-4 flex-basis-4">
{% if app_config('OOB_RESET_ENABLE') %}
    <form class="flex-column" action="{{ url_for('auth.reset_password_oob', token=token) }}" method="post">
{% else %}
    <form class="flex-column" action="{{ url_for('auth.reset_password') }}" method="post">
{% endif %}
        <h3 style="text-align: center;">Welcome back!</h3>
        <label for="password">New Password for {{ user.name }}:</label>
        <div class="flex-column" style="position: relative;">
            <input id="password" name="password" type="password" />
            <input type="button" class="show" tabindex="-1" onclick="toggleShow();" value="show" />
        </div>
        <input type="submit" value="Submit" onclick="cleanSubmit(event, this.form);" />
    </form>
</div>
{% endblock %}
