{% extends "layout.html" %}
{% block body %}
<div class="flex-width-4 flex-offset-4 flex-basis-4">
    <form class="flex-column" action="{{ url_for('auth.reset_password') }}" method="post">
        <label for="password">Password:</label>
        <input name="password" type="password" />
        <label for="confirm_password">Confirm Password:</label>
        <input name="confirm_password" type="password" />
        <input type="submit" value="Submit" onclick="this.form.submit();" />
    </form>
</div>
{% endblock %}
