{% extends "layout.html" %}
{% block body %}
<div class="page-centered">
    <div class="card form-card">
        <form class="flex-column" action="{{ url_for('auth.reset_question') }}" method="post">
            <h4 class="card-title">Verify your identity.</h4>
            <div class="form-group">
                <label class="form-label" for="answer">{{ question }}</label>
                <input class="form-input" name="answer" type="text" value="" />
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" onclick="cleanSubmit(event, this.form);" />
        </form>
    </div>
</div>
{% endblock %}
