{% extends "layout.html" %}
{% block body %}
    <div id="app">
        <router-view></router-view>
    </div>
    <script src="{{ url_for('static', filename='vue/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='vue/vue-router.js') }}"></script>
    <script src="{{ url_for('static', filename='vue/vuex.js') }}"></script>
    <script src="{{ url_for('core.js_constants') }}"></script>
    <script src="{{ url_for('static', filename='vue/messages.js') }}"></script>
    <script src="{{ url_for('static', filename='vue/mail.js') }}"></script>
    <script src="{{ url_for('static', filename='vue/core.js') }}"></script>
{% endblock %}
