{% extends "layout.html" %}
{% block body %}
<div class="submission-view flex-column">
    <div class="title flex-row flex-align-center">
        <div class="severity bordered-dark {{ submission.severity_as_string }}">#{{ '{:05d}'.format(submission.id) }}</div>
        <div><h4>{{ submission.title }}</h4></div>
    </div>
    <table>
        <tbody>
            <tr>
                <td>submitted</td>
                <td>{{ submission.created_as_string }}</td>
                <td>updated</td>
                <td>{{ submission.modified_as_string }}</td>
            </tr>
            <tr>
                <td>vulnerability</td>
                <td>{{ submission.vulnerability_as_string }}</td>
                <td>status</td>
                <td>{{ submission.status_as_string }}</td>
            </tr>
            <tr>
                <td>severity</td>
                <td class="{{ submission.severity_as_string }}">{{ submission.severity_as_string }}</td>
                <td>bounty</td>
                <td>{{ submission.bounty }}</td>
            </tr>
            <tr>
                <td>submitter</td>
                <td>
                    <div class="submitter flex-row flex-align-center">
                        <div class="avatar"><a href="{{ url_for('core.profile_view', uid=submission.submitter.id) }}"><img class="circular bordered-dark" src="{{ submission.submitter.avatar_or_default|safe }}" title="avatar" /></a></div>
                        <div>{{ submission.submitter.name }}</div>
                    </div>
                </td>
                <td>reviewer</td>
                <td>
                    <div class="submitter flex-row flex-align-center">
                        <div class="avatar"><a href="{{ url_for('core.profile_view', uid=submission.reviewer.id) }}"><img class="circular bordered-dark" src="{{ submission.reviewer.avatar_or_default|safe }}" title="avatar" /></a></div>
                        <div>{{ submission.reviewer.name }}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flex-tabs">
        <!-- first -->
        <input id="tab-one" type="radio" name="grp" checked="checked"/>
        <label for="tab-one">Description</label>
        <div class="markdown">
        {% if submission.is_validated or submission.reviewer == g.user or submission.submitter == g.user %}
            {{ submission.description|markdown }}
        {% else %}
            <p>[<em>Disclosure pending validation.</em>]</p>
        {% endif %}
        </div>
        <!-- second -->
        <input id="tab-two" type="radio" name="grp" />
        <label for="tab-two">Impact</label>
        <div class="markdown">
        {% if submission.is_validated or submission.reviewer == g.user or submission.submitter == g.user %}
            {{ submission.impact|markdown }}
        {% else %}
            <p>[<em>Disclosure pending validation.</em>]</p>
        {% endif %}
        </div>
    </div>
    {% if not submission.is_validated and submission.reviewer == g.user %}
    <hr>
    <div class="right-content">
        <a class="img-btn" onclick="confirmRedirect(event, '{{ url_for('core.submissions_action', action='confirm', bid=submission.id) }}')"><i class="fas fa-check-circle" title="confirm"></i></a>
        <a class="img-btn" onclick="confirmRedirect(event, '{{ url_for('core.submissions_action', action='reject', bid=submission.id) }}')"><i class="fas fa-times-circle" title="reject"></i></a>
    </div>
    {% endif %}
</div>
{% endblock %}
