{% extends "layout.html" %}
{% block body %}
<div class="submissions flex-column">
{% if submissions|length == 0 %}
    <div class="center-content">
        no submissions
    </div>
{% else %}
{% for submission in submissions %}
    <div class="submission-preview flex-row flex-align-center">
        <div class="avatar"><a href="{{ url_for('core.profile_view', uid=submission.submitter.id) }}"><img class="circular bordered-dark" src="{{ submission.submitter.avatar_or_default|safe }}" title="avatar" /></a></div>
        <div class="flex-grow flex-column">
            <div class="title"><a href="{{ url_for('core.submissions_view', bid=submission.id) }}"><b>{{ submission.title }}</b></a></div>
            <div class="info flex-row flex-justify-space-between">
                <div><span>by</span> {{ submission.submitter.name }} <span>at</span> {{ submission.created_as_string }}</div>
                <div><span>status: </span> {{ submission.status_as_string }}</div>
                <div><span>severity: </span> {{ submission.severity_as_string }}</div>
                <div><span>bounty: </span> {{ submission.bounty }}</div>
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}
{% from "macros.html" import pagination %}
{{ pagination('core.submissions', current_page, page_count) }}
</div>
{% endblock %}
