{% extends "sub_layout.html" %}
{% block sub_body %}
    <div class="row">
        <div class="ten columns offset-by-one center-content">
            <select style="float: left;" id="tool">
            {% for tool in tools %}
                <option value="{{ tool }}">{{ tools[tool][0] }}</option>
            {% endfor %}
            </select>
            <input style="float: right;" type="button" onclick="execute('{{ url_for('tools_execute') }}');" value="execute" />
            <span style="display: block; overflow: hidden; padding-left: 10px; padding-right: 10px">
                <input style="width: 100%" type="text" id="args" placeholder="command arguments..." />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="u-full-width rounded output">
            <pre id="output"></pre>
        </div>
    </div>
{% endblock %}
