{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="ten columns offset-by-one center-content">
            <select style="float: left;" id="tool" onchange="info(this);">
            {% for tool in tools %}
                <option value="{{ tool.id }}">{{ tool.name }}</option>
            {% endfor %}
            </select>
            <input style="float: right;" type="button" onclick="execute();" value="execute" />
            <span style="display: block; overflow: hidden; padding-left: 10px; padding-right: 10px">
                <input style="width: 100%" type="text" id="args" placeholder="command arguments..." />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="u-full-width rounded output">
            <pre id="output"></pre>
            <input class="save-as" type="button" onclick="save_artifact();" value="save as artifact" />
        </div>
    </div>
    <script>
function execute() {
    var id = document.getElementById("tool").options[document.getElementById("tool").selectedIndex].value;
    var args = document.getElementById("args").value;
    // execute the command
    $.ajax({
        url: "{{ url_for('ph_bp.tools_execute') }}",
        type: "POST",
        data: {
            tool: id,
            args: args,
        },
        success: function(data){
            // update the textarea with the command output
            document.getElementById("output").innerHTML = data.output;
        }
    });
}

function info(e) {
    var tid = e.options[e.selectedIndex].value;
    // get the description
    $.ajax({
        url: "{{ url_for('ph_bp.tools_info') }}",
        type: "POST",
        data: {
            tid: tid,
        },
        success: function(data){
            // update the textarea with the description
            document.getElementById("output").innerHTML = data.tools[0].description;
        }
    });
}

function save_artifact() {
    var filename = document.getElementById("tool").options[document.getElementById("tool").selectedIndex].text;
    var content = document.getElementById("output").innerHTML;
    if (confirm("Save as an artifact?") == true) {
        $.ajax({
            url: "{{ url_for('ph_bp.api_artifacts') }}",
            type: "POST",
            data: "<xml><filename>"+filename+"</filename><content>"+content+"</content></xml>",
            contentType: 'application/xml',
            success: function(data){
                show_flash($(data).find("message").text());
            }
        });
    }
}

// populate the default tool's description onload
document.getElementById("tool").onchange()
    </script>
{% endblock %}
