{% extends "layout.html" %}
{% block body %}
<div class="flex-grow tools flex-column">
    <div class="flex-width-10 flex-offset-1 flex-row flex-align-center">
        <select class="gutter-right" id="tool" onchange="info(this);">
        {% for tool in tools %}
            <option value="{{ tool.id }}">{{ tool.name }}</option>
        {% endfor %}
        </select>
        <input class="flex-grow gutter-right" type="text" id="args" placeholder="Command arguments..." />
        <input type="button" onclick="execute();" value="Execute" />
    </div>
    <div class="flex-grow output flex-column flex-no-basis">
        <pre id="output"></pre>
        <a class="img-btn" onclick="save_artifact();"><i class="fas fa-save" title="Save as artifact"></i></a>
        <div id="spinner" class="spinner"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
var socket = io.connect("http://" + document.domain + ":" + location.port);

socket.on("status", function(data) {
    console.log(data);
});

socket.on('info', function(data) {
    document.getElementById("output").textContent = data.description;
    document.getElementById("args").value = "";
});

socket.on('output', function(data) {
    var output = document.getElementById("output");
    output.textContent = "$ {0}\n{1}".format(data.cmd, data.output);
    output.scrollTop = output.scrollHeight;
    spinner.style.visibility = "hidden";
});

function execute() {
    var spinner = document.getElementById("spinner");
    spinner.style.visibility = "visible";
    var tid = document.getElementById("tool").options[document.getElementById("tool").selectedIndex].value;
    var args = document.getElementById("args").value;
    // clear out existing command output
    document.getElementById("output").textContent = "";
    socket.emit('execute', {tid: tid, args: args});
}

function info(e) {
    var tid = e.options[e.selectedIndex].value;
    socket.emit('info', {tid: tid});
}

function save_artifact() {
    var filename = document.getElementById("tool").options[document.getElementById("tool").selectedIndex].text;
    var content = document.getElementById("output").innerHTML;
    if (confirm("Save as an artifact?") == true) {
        $.ajax({
            url: "{{ url_for('core.artifacts_create') }}",
            type: "POST",
            data: "<xml><filename>"+filename+"</filename><content>"+content+"</content></xml>",
            contentType: 'application/xml',
            success: function(data){
                showFlash($(data).find("message").text());
            }
        });
    }
}

// populate the default tool's description onload
document.getElementById("tool").onchange()
</script>
{% endblock %}
