blinker==1.9.0
click==8.3.2
Flask==3.1.3
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.4.0
gunicorn==25.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysqlclient==2.2.8
packaging==26.1
PyJWT==2.12.1
SQLAlchemy==2.0.49
typing_extensions==4.15.0
Werkzeug==3.1.8
